{% extends 'common/baseForJobs.html' %}
{% load basefilter %}
{% block title %}补卡管理{% endblock %}
{% block content %}
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a> <a href="#" class="current">门店调拨</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>门店调拨</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="row formline" style="margin-top: 20px;">
                    <label for="" class="col-md-1 formline-label">调出门店：</label>
                    <div class="col-md-2">
                        {% if roleid == '2' %}
                            <select name="shopOut" id="shopOut" class="form-control" required="required" disabled>
                                <option value="{{ shopCode }}">{{ shopCode | transShopCode }}</option>
                            </select>
                        {% elif roleid == '1' or roleid == '6' %}
                            <select name="shopOut" id="shopOut" class="form-control" required="required">
                                {% for shop in shops %}
                                    <option value="{{ shop.shop_code }}">{{shop.shop_name  }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}

                    </div>
                    <label for="" class="col-md-1 formline-label">调入门店：</label>
                    <div class="col-md-2">
                        {% if roleid == '2' %}
                            <select name="shopIn" id="shopIn" class="form-control" required="required">
                                {% for shop in shops %}
                                    {% if shop.shop_code != shopCode %}
                                        <option value="{{ shop.shop_code }}">{{shop.shop_name  }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% elif roleid == '1' or roleid == '6' %}
                            <select name="shopIn" id="shopIn" class="form-control" required="required">
                                {% for shop in shops %}
                                    <option value="{{ shop.shop_code }}">{{shop.shop_name  }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}

                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title"><span class="icon">
                        <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>卡列表</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-striped table-hover table-form-my">
                            <thead>
                                <tr>
                                    <th>面值</th>
                                    <th>起始卡号</th>
                                    <th>结束卡号</th>
                                    <th>小计</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody class="cardSent">
                                <tr>
                                    <td>
                                        <input type='text' class='form-control type' disabled>
                                        <input type='hidden' class='form-control type2'>
                                    </td>
                                    <td><input type='text' class='form-control start cardno'></td>
                                    <td><input type='text' class='form-control end cardno'></td>
                                    <td><input type='text' class='form-control subTotal' disabled></td>
                                    <td><button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this)">删除</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="allocationTotal row formline">
                            <p class="text col-md-3" id="totalNum">合计卡数量：<b>0</b>张</p>
                            <p class="text col-md-3" id="totalVal">合计面值金额：<b>0.00</b>元</p>
                        </div>
                    </div>
                </div>

                <div class="enter-box">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>

        </div>

    </div>
</div>
<!--end-containt-part-->
{% endblock %}

{% block js %}
<script>

    function addRow2(){
        //创建新的一行
        var tbody = $(".cardSent");
        var columsL = tbody.find('tr').eq(0).find('td').length;
        var row = $("<tr></tr>");
        for(var i=0;i<columsL;i++){
            var td = $("<td></td>");
            if(i==0){
                var obj  = $('<input type="text" class="form-control type" disabled>');
                var obj2 = $('<input type="hidden" class="form-control type2">');
                $(td).append(obj);
                $(td).append(obj2);
            }else if(i==1){
                var obj = $('<input type="text" class="form-control start cardno">');
                $(td).append(obj);
            }else if(i==2){
                var obj = $('<input type="text" class="form-control end cardno">');
                $(td).append(obj);
            }else if(i==3){
                var obj = $('<input type="text" class="form-control subTotal" disabled>');
                $(td).append(obj);
            }else{
                var obj = $('<button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this)">删除</button>');
                $(td).append(obj);
            }
            $(row).append(td);
        }
        tbody.append(row)
    }

    function allocateTotal(){
        var trs = $(".cardSent").find('tr');
        var totalVal = 0.00;
        var totalNum =0;
        for(var i=0;i<trs.length;i++){
            var subNum = $(trs[i]).find('.subTotal').val();
            if(subNum){
                var cardType = $(trs[i]).find('.type').val();
                if(isNaN(cardType) || !cardType){
                    cardType=0;
                }
                var subVal = parseInt(subNum)*parseFloat(cardType);
                totalVal += subVal;
                totalNum += parseInt(subNum);
            }
        }
        $('#totalNum b').text(totalNum);
        $('#totalVal b').text(totalVal);

    }

    function checkCross(obj){
        var key = parseInt($(obj).val());
        var trs = $(".cardSent").find('tr');
        var list =[];
        for(var j=0;j<trs.length;j++){
            var subNum = $(trs[j]).find('.subTotal').val();
            var start = $(trs[j]).find('.start').val();
            var end = $(trs[j]).find('.end').val();
            if(subNum && start && end){
                list.push({'start':parseInt(start),'end':parseInt(end)});
            }
        }
        for(var m=0;m<list.length;m++){
            var parentTr = $(obj).parent().parent();
            var start3 = parentTr.find('.start').val();
            var end3 = parentTr.find('.end').val();
            var start4 = list[m].start;
            var end4 = list[m].end;

            if(parseInt(start3)<parseInt(start4) && parseInt(end3)>parseInt(end4)){
                alert('卡断：'+start3+'-'+end3+',包含卡断：'+start4+'-'+end4+',请重新输入卡断');
                parentTr.find('.start').val('').focus();
                parentTr.find('.end').val('');
                return false;
            }
        }
        for(var i=0;i<list.length;i++){
            var start2 = list[i].start;
            var end2 = list[i].end;

            if((key>start2 && key<end2)){
                alert('卡号：'+key+',已经存在于卡段'+start2+'-'+end2+'中，请重新输入卡断');
                $(obj).val('').focus();
                return false;
            }
        }
    }
    function checkRepeat(obj){
        var key = $(obj).val();
        var trs = $(".cardSent").find('tr');
        var list =[];
        for(var j=0;j<trs.length;j++){
            var start = $(trs[j]).find('.start').val();
            var end = $(trs[j]).find('.end').val();
            if(start && end && start==end ){
                list.push(start);
            }else {
                list.push(start);
                list.push(end);
            }
        }

        list.remove(key);
        if(list.indexOf(key)>-1){
            alert('卡号：'+key+',已经存在于上面的卡段中，请检查');
            $(obj).val('').focus();
            $(obj).parent().find('.type').val('');
            $(obj).parent().find('.type2').val('');
            return false;
        }
    }

    $('.type').change(function(){
        allocateTotal();
    });
    $(document).on('change','.cardSent .cardno',function(){
        var cardId = $(this).val();
        //重复校验
        checkRepeat(this);
        //交叉校验
        checkCross(this);
        //状态校验
        var url = "{% url 'cardcheck' %}?cardId="+cardId;
        if(cardId){

            checkCardStu(this,cardId,'{{ shopCode | safe }}',url);

            //计算小计
            var parentTr = $(this).parent().parent();
            var startStr = parentTr.find('.start').val();
            var start = startStr.split('=')[0];
            parentTr.find('.start').val(start);

            var endStr = parentTr.find('.end').val();
            var end = endStr.split('=')[0];
            parentTr.find('.end').val(end);
            if(parseInt(end)<parseInt(start)){
                alert('起始卡号不能大于截至卡号');
                return false;
            }
            if(parseInt(end)&&parseInt(start)){
                parentTr.find('.subTotal').val(parseInt(end)-parseInt(start)+1);
                addRow2();
                allocateTotal();
            }
        }

    });
    $('#btn-enter').click(function(){
        //领取人信息
        var shopIn = $('#shopIn').val();
        var shopOut = $('#shopOut').val();
        if(!shopIn || !shopOut){
            alert('调拨门店不能为空');
            return false;
        }
        if(shopIn==shopOut){
            alert('同门店不能调拨');
            return false;
        }
        var totalNum=$('#totalNum b').text();
        var totalVal=$('#totalVal b').text();
        if(parseInt(totalNum)>0){
            var list=[];
            trs = $('.cardSent').find('tr');
            for(var i=0;i<trs.length;i++){
                var item ={};
                var cardType = $(trs[i]).find('.type').val();
                if(isNaN(cardType) || !cardType){
                    cardType=0;
                }
                var cardType2 = $(trs[i]).find('.type2').val();
                if(isNaN(cardType2) || !cardType2){
                    cardType2=0;
                }
                var start = $(trs[i]).find('.start').val();
                var end = $(trs[i]).find('.end').val();
                var subTotal = $(trs[i]).find('.subTotal').val();
                if(cardType!=cardType2){
                    alert('卡段初始号："'+start+'"与截止号："'+end+'"面值不符，请处理后再尝试提交');
                    return false;
                }

                if(subTotal){
                    item['cardType'] = cardType;
                    item['start'] = start;
                    item['end'] = end;
                    item['subTotal'] = subTotal;
                    list.push(item);
                }
            }
        }else{
            alert('请完善领卡列表后，再尝试提交');
                return false;
        }
        data={
            csrfmiddlewaretoken: CSRF,
            'list':JSON.stringify(list),
            'shopIn':shopIn,
            'shopOut':shopOut,
            'totalNum':totalNum,
            'totalVal':totalVal
        };
        doAjaxSave('{% url 'allocationSave' %}',data)
    })
</script>
{% endblock %}
