{% extends 'common/baseForJobs.html' %}
{% block title %}挂售卡换卡{% endblock %}
{% block content %}
<style>
.payment,.Total{display: none}
</style>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#">挂售卡管理</a>
            <a href="#" class="current">挂售卡换团购卡</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-content nopadding">
            <div class="container-fluid">

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <span
                            class="glyphicon glyphicon-th"> </span></span>
                        <h5>入卡查询</h5>
                    </div>
                    {% include 'common/cardInQuery.html' %}
                </div>

                {% include 'common/cardChangeOut.html' %}

                {% include 'common/discount.html' %}
                {% include 'common/paymentForChange.html' %}
                {% include 'common/orderTotal.html' %}

                {% include 'common/buyerInfo.html' %}
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block js %}

<script>
    // 卡校验
    $(document).on("change", ".cardIn .cardId", function () {
        type = 'in';
        checkCardInfo(type,$(this))

    });
    $(document).on("change", ".cardOut .cardId", function () {
        type = 'out';
        checkCardInfo(type,$(this))

    });
    function  checkCardInfo(type,obj) {
        var cardIdStr = obj.val();
        var cardId = cardIdStr.split("=")[0];
        obj.val(cardId);
        //检查是否有重复卡号
        var cardInList = $('#cardInList');
        var arr1 = getCardIds(cardInList);
        var cardOutList = $('#ListOut');
        var arr2 = getCardIds(cardOutList);
        var YcardList =$('#YcardList');
        var arr3 = getCardIds(YcardList);
        var arr = [];
        arr = arr.concat(arr1,arr2,arr3);
        arr.remove(cardId);
        if (arr.indexOf(cardId) > -1) {
            alert('卡号：' + cardId + ',已经存卡列表中,请更换');
            obj.val('');
            return false;
        }

        //卡校验
        if(type=='in'){
            var ajaxOpt = {'url': '{% url 'cardcheck_change' %}?cardId=' + cardId, 'method': 'get'};
            doAjax2(obj, ajaxOpt, showCardIfno3, setTotalByCardList);
        }else{
             var ajaxOpt = {'url': '{% url 'cardcheck' %}?cardId=' + cardId, 'method': 'get'};
            doAjax(obj,ajaxOpt,showCardIfno,setTotalByCardList);
        }

        addRow(obj);
    }

    $(document).on('click','#btn-enter',function(){
        var url = "{% url 'cardchange_save' %}";
        saveCardChangeOrder(url);
    });
</script>

{% endblock %}
