@media print {
    *{
        margin: 0;
        padding: 0;
        background: #fff;
    }
    nav, aside {
        display: none;
    }

    .noprint {
        display: none
    }

    .glyphicon {
        display: none
    }

    .title-ifno{margin-left: 120px;}
    .info-order{float: left;width: 20%;min-width: 145px;}
    .info-order p,.info-tel p{font-size: 8px;line-height: 12px;}
    .info-tel{float: left;width: 70%}
    .info-tel p{float: left;margin-left: 10px;font-size: 8px;}
    .info-total{margin-top: 5px;}
    .info-total p{font-size: 8px;line-height: 13px;float: left;width: 25%}
    .info-total p.remark{width: 100%;}
    table {
        width: 100%;
        font-family: SimSun; /* verdana,arial,sans-serif*/
        font-size: 10px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

    table th {
        border-width: 1px;
        padding: 4px;
        font-weight: normal;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }

    table td {
        border-width: 1px;
        padding: 2px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
        text-align: left;
        text-indent: 15px;
        /*float:left;*/
    }
}