@media print {
    *{
        margin: 0;
        padding: 0;
        background: #fff;
    }
    nav, aside {
        display: none;
    }

    .noprint {
        display: none
    }

    .glyphicon {
        display: none
    }
    .info-order{width: 100%;min-width: 145px;}
    .info-order p,.info-tel p{font-size: 12px;line-height: 16px;}
    .info-total{margin-top: 5px;}
    .info-total p{font-size: 12px;line-height: 16px;}
    .info-total p.remark{width: 100%;}
    table {
        width: 100%;
        font-size: 12px;
        color: #333333;
        border-width: 0;
        border-collapse: collapse;
    }

    table th {
        border-width: 0;
        padding: 4px;
        font-weight: normal;
    }

    table td {
        border-width: 0;
        padding: 2px;
        text-align: left;
        text-indent: 15px;
        /*float:left;*/
    }
}