<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>储值卡管理系统</title>
</head>
<body>

<!--Header-part-->
 {% include 'common/head.html' %}
<!--close-Header-part-->

<!--containt-part-->
<div id="content">
    <h1 style="text-align: center;padding-top: 200px;">欢迎登录宽广集团储值卡管理系统</h1>
</div>
<!--end-containt-part-->


<!--Footer-part-->
<div class="row-fluid">
	<div id="footer" class="span12"> Copyright &copy; Goonic All rights reserved.</div>
</div>
{% include "common/foot.html" %}
<!--end-Footer-part-->

</body>
</html>
