{% extends 'common/baseForJobs.html' %}
{% load basefilter %}
{% block title %}借卡管理--退卡{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ static }}/css/bootstrap-datetimepicker.min.css">

<div id="content" data-module="borrow_back">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">借卡管理</a>
            <a href="#" class="current">退卡</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>借卡管理--退卡</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <!--  退卡 号段查询表单 start  -->
                <input type="hidden" value="{{ orderSns}}" id="orderSns">
                {% include 'common/cardsInQuery.html' %}
                <!--  退卡 号段查询表单 end  -->

                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ static }}/js/bootstrap-datetimepicker.js"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
	    autoclose: 1,
	    todayHighlight: 1,
	    startView: 2,
	    minView: 2,
	    forceParse: 0
    });


</script>
<script>
    $(document).on('click','#btn-enter',function(){
        var url = "{% url 'borrowBackSave' %}";
        cardBack(url);
    })
</script>
<script>
    function cardBack(url){
        //售卡列表
        var cardList = getCardList($('#correctIn'));
        if(cardList.length==0){
            alert('退卡列表为空，请核对后再尝试提交！');
            return false;
        }
        var data = {
            csrfmiddlewaretoken: CSRF,
            'cardStr':JSON.stringify(cardList),
            'postToken':$('#post-token').val(),
            'orderSnList':$('#orderSns').val()
        };
        doAjaxSave(url,data);
    }
</script>
{% endblock %}
