{% extends 'common/baseForJobs.html' %}
{% block title %}借卡管理--售卡{% endblock %}
{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">借卡管理</a>
            <a href="#" class="current">售卡</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>借卡管理--售卡</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                {% include 'common/cardsOutQuery.html' %}

                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>顾客信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div id="buyerInfo" class="collapse in widget-content">
                            <div class="row formline">
                                <label for="" class="col-md-2 col-lg-1 formline-label">单位名称：</label>
                                <div class="col-md-4 col-lg-2">
                                    <input class="form-control" placeholder="" type="text" id="borrowDepart">
                                </div>
                                <label for="" class="col-md-2 col-lg-1 formline-label">单位编号：</label>
                                <div class="col-md-4 col-lg-2">
                                    <input class="form-control" placeholder="" type="text" id="borrowDepartCode">
                                </div>
                                <label for="" class="col-md-2 col-lg-1 formline-label">借卡人：</label>
                                <div class="col-md-4 col-lg-2">
                                    <input class="form-control" placeholder="" type="text" id="borrowName">
                                </div>
                                <label for="" class="col-md-2 col-lg-1 formline-label">联系电话：</label>
                                <div class="col-md-4 col-lg-2">
                                    <input class="form-control" placeholder="" type="text" id="borrowPhone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).on('click','#btn-enter',function(){
        var url = "{% url 'borrowSaleSave' %}";
        saveBorrowOrder(url);
    })
</script>
<script>
    //借卡单保存
function saveBorrowOrder(url){
    //售卡列表
    var cardList = getCardList($('#correctOut'));
    var totalNum = parseInt($('.cardOutTotal #totalNum b').text());
    var totalVal = parseFloat($('.cardOutTotal #totalVal b').text());//卡合计金额
    //买卡人信息
    var borrowDepart = $('#borrowDepart').val();
    var borrowName = $('#borrowName').val();
    var borrowDepartCode = $('#borrowDepartCode').val();
    var borrowPhone = $('#borrowPhone').val();
    if(cardList.length==0){
        alert('还未添加售卡信息，请核对后再尝试提交！');
        return false;
    }
    if(!borrowDepart || !borrowName || !borrowDepartCode || !borrowPhone){
        alert('借卡人信息不能为空！');
        return false;
    }
    var data = {
        csrfmiddlewaretoken: CSRF,
        'cardStr':JSON.stringify(cardList),
        'totalNum':totalNum,
        'totalVal':totalVal,
        'borrowDepart':borrowDepart,
        'borrowName':borrowName,
        'borrowPhone':borrowPhone,
        'borrowDepartCode':borrowDepartCode,
        'postToken':$('#post-token').val()
    };
    doAjaxSave(url,data);
}
</script>
{% endblock %}>
