{% extends 'common/baseForJobs.html' %}
{% load basefilter %}
{% block title %}订单详情{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ static }}/css/orderinfoPrint.css" media="print">
<style media="print">
    .title h5 {
        width: 100%;
        text-align: center;
        font-weight: normal;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dashed black;
    }
</style>
<style media="screen">
    .widget-content {
        overflow: hidden;
        width: 100%;
        background: #fff
    }

    .title {
        height: 100px;
        background: #fff url('{{ static }}/images/logo.jpg') 10px 0px no-repeat;
        background-size: 80px;
    }

    .title h5 {
        float: left;
        width: 100px;
        margin-top: 90px;
        text-align: center
    }

    .title-ifno {
        margin-left: 0;
    }

    .info-order{
        float: left;
        margin-right: 20px;
    }
    .info-order p {
        font-size: 12px;
        line-height: 12px;
    }

    .info-tel {
        float: left;
        width: 85%
    }

    .info-tel p {
        float: left;
        margin-left: 10px;
        font-size: 10px;
        line-height: 12px;
    }

    .info-total p {
        float: left;
        width: 25%;
        padding: 2px;
        margin: 0;
    }

    .btnBox {
        padding: 10px;
        overflow: hidden
    }

    .btnBox .btn-success {
        margin-left: 15px;
    }
</style>

<!--containt-part-->
<div id="content">
    <div id="content-header" class="noprint">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="current">订单详情</a>
        </div>
    </div>

    <div class="widget-box" id="printContent">
        <p class="noprint btnBox">
            <input class="btn btn-success pull-right" type="button" value="返回" onclick="closeFun()">
            <input class="btn btn-success pull-right" type="button" value="打印" onclick="javascript:printAll()">
        </p>
        <div class="widget-content nopadding">
            <div class="title">
                <h5>宽广超市借卡凭证</h5>
                <div class="title-ifno">
                    <div class="info-order">
                        <p>借卡日期 :{{ today |date:'Y年m月d日' }}</p>
                        <p>借卡单编号 :{{ orderSn }}</p>
                        <p>出卡门店 :{{ order.0.shopcode | transShopCode }} </p>
                        <p>出卡人 : {{ order.0.operator | transUserId }}</p>

                    </div>
                    <div class="info-order">
                        <p>借卡单位 : {{ order.0.borrow_depart }}</p>
                        <p>借卡单位编号 : {{ order.0.borrow_depart_code }}</p>
                        <p>借卡人 : {{ order.0.borrow_name }}</p>
                        <p>借卡人电话 : {{ order.0.borrow_phone }}</p>
                    </div>
                    <div class="info-order">
                        <p style="margin-top: 30px;">备注 : </p>
                        <p>借卡人签字 : </p>
                    </div>
                </div>

            </div>
            <div class="widget-content fixedBox PtableBox">
                <table class="table table-hover order-table table-form-my">
                    <thead>
                        <tr>
                            <th>卡面值</th>
                            <th>张数</th>
                            <th>小计（单位 :元）</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in infoList %}
                            <tr>
                                <td class="">{{ info.card_balance }}</td>
                                <td class="">{{ info.subNum }}</td>
                                <td>{{ info.subVal }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="info-total">
                    <p>合计卡数 :{{ order.0.order_num }}张</p>
                    <p>合计金额 :{{ order.0.order_val }}元</p>
                    <p class="remark">金额合计(大写) :</p>
                    <p class="remark">备注 : </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function printAll(){
        window.print();

    }

</script>
{% endblock %}


