{% extends 'common/baseForJobs.html' %}
{% load basefilter %}
{% block title %}借卡管理--结算{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ static }}/css/bootstrap-datetimepicker.min.css">
<style>
    table a{text-decoration: underline}
</style>
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">借卡管理</a>
            <a href="#" class="current">结算</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>借卡管理--结算</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="widget-box">
                    <div class="widget-content collapse in ">
                        <input type="hidden" id="buyerName" value="{{ listSale.0.borrow_name }}">
                        <input type="hidden" id="buyerPhone" value="{{ listSale.0.borrow_phone }}">
                        <input type="hidden" id="buyerCompany" value="{{ listSale.0.borrow_depart }}">
                        <form id="form" class="query-list" method="post" action="{% url 'borrowPay' %}">
                            {% csrf_token %}
                            <div class="row formline">
                                <label for="" class="col-md-2 col-lg-1 formline-label">开始时间：</label>
                                <div class="col-md-4 col-lg-2">
                                    <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2" data-date-format="yyyy-mm-dd" data-date="" class="input-group date form_date">
                                        <input readonly="" value="{{ start}}" size="16" name="start" id="start" class="form-control">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <label for="" class="col-md-2 col-lg-1 formline-label">结束时间：</label>
                                <div class="col-md-4 col-lg-2">
                                    <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2" data-date-format="yyyy-mm-dd" data-date="" class="input-group date form_date">
                                        <input readonly="" value="{{ end}}" size="16" name="end" id="end" class="form-control">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <label for="" class="col-md-2 col-lg-1 formline-label">单位名称：</label>
                                <div class="col-md-4 col-lg-2">
                                    <input type='text' class='form-control' name="departName" value="{{ departName }}">
                                </div>
                                <label for="" class="col-md-2 col-lg-1 formline-label">单位编号：</label>
                                <div class="col-md-4 col-lg-1">
                                    <input type='text' class='form-control' name="departCode" value="{{ departCode }}">
                                </div>
                                <div class="col-md-12 col-lg-1">
                                    <button type="button" class="btn btn-success pull-right" id="query">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>借卡列表</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-striped table-hover table-form-my" id="tableOut">
                            <thead>
                            <tr>
                                <th style="width: 4em">选择</th>
                                <th>订单编号</th>
                                <th>总额</th>
                                <th>卡数</th>
                                <th>日期</th>
                                <th>单位名称</th>
                                <th>单位编号</th>
                                <th>借卡人</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                             {% for row in listSale %}
                                <tr>
                                    <td><input type="radio" value="{{ row.order_sn }}" name="orderSn"></td>
                                    <td>{{ row.order_sn }}</td>
                                    <td class="rowVal">{{ row.order_val}}</td>
                                    <td>{{ row.order_num }}</td>
                                    <td>{{ row.add_time }}</td>
                                    <td>{{ row.borrow_depart }}</td>
                                    <td>{{ row.borrow_depart_code }}</td>
                                    <td>{{ row.borrow_name }}</td>
                                    <td>{% if row.is_paid == '0'%}未结算{% else %}已结算{% endif %}</td>
                                </tr>
                             {% empty %}
                                 <tr>
                                    <td colspan="9" align="center" class="red">暂无数据</td>
                                 </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2" style="text-align: center;font-weight: bold;">借卡合计（单位：元）</td>
                                <td colspan="7">{{ totaSale }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>退卡列表</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-striped table-hover table-form-my" id="tableBack">
                            <thead>
                            <tr>
                                <th style="width: 4em"></th>
                                <th>借卡单编号</th>
                                <th>退卡总额（单位：元）</th>
                                <th>退卡卡数（单位：张）</th>
                                <th>退卡时间</th>
                                <th>退卡单位</th>
                                <th>退卡单位编号</th>
                                <th>经办人</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in listBack %}
                                <tr>
                                    <td><input type="radio" value="{{ row.order_sn }}" disabled="disabled"></td>
                                    <td>{{ row.order_sn }}</td>
                                    <td class="rowVal">{{ row.back_val}}</td>
                                    <td>{{ row.back_num }}</td>
                                    <td>{{ row.back_time }}</td>
                                    <td>{{ row.borrow_depart }}</td>
                                    <td>{{ row.borrow_depart_code }}</td>
                                    <td>{{ row.operator | transUserId }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7" align="center" class="red">暂无数据</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2" style="text-align: center;font-weight: bold;">退卡合计（单位：元）</td>
                                <td colspan="6">{{ totalBack }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include 'common/discount.html' %}
                {% include 'common/payment.html' %}
                {% include 'common/orderTotal.html' %}
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ static }}/js/bootstrap-datetimepicker.js"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
	    autoclose: 1,
	    todayHighlight: 1,
	    startView: 2,
	    minView: 2,
	    forceParse: 0
    });

</script>
<script>
    var state = "{{ state | default:'' | safe}}";
    $("#state").val(state);
    $("#query").click(function(){
        var start = $("#start").val();
        var end = $("#end").val();
        if(!start || !end){
            alert('日期不能为空');
            return false;
        }
        $("#form").submit();
    })
</script>
<script>
$()
    $('#tableOut input:radio').click(function () {
        var sn1 = $(this).val();
        var totalBorrow = parseFloat($(this).parent().siblings('td.rowVal').text());
        var totalBack = 0;
        $('#tableBack input:radio').each(function () {
            sn2 = $(this).val();
            if(sn2==sn1){
                $(this).prop('checked',true);
                totalBack = parseFloat($(this).parent().siblings('td.rowVal').text());
            }else{
                $(this).prop('checked',false);
            }
        });
        var payVal = totalBorrow-totalBack;
        $('#totalVal b').text(payVal);
        //2、计算折扣返点金额
        var discountVal = createDiscount('',payVal);

        //3、计算优惠补差 getCardListVal(cardList,cardtype,cls)
        var discCardTotalVal = getCardListVal($(".discount"),1,"discount").totalVal;
        var discPay = discCardTotalVal-discountVal;
        $(".Total #totalYBalance b").text(discPay);

        //4、 应缴费合计
        var orderVal = payVal + discPay;
        $('.Total #totalPaid b').text(orderVal);
    })
</script>


<script>
    $(document).on('click','#btn-enter',function(){
        var action_type = '3';//借卡结算
        var url = "{% url 'borrowPaySave' %}";
        var orderSnList = getCheckedIdList($('#tableOut tbody'));
        saveBorrowPayOrder(action_type,url,orderSnList);
    })
</script>
{% endblock %}
