{% extends 'common/baseForJobs.html' %}
{% block title %}移动积分到账管理{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ static }}/css/bootstrap-datetimepicker.min.css">
<style>
    table a{text-decoration: underline}
</style>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="current">移动积分到账管理</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-content nopadding">
            <div class="container-fluid">

                <div class="widget-box nopadding">
                    <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>到账明细</h5>
                    </div>
                    <div class="widget-content">
                        <div class="row formline">
                            <label for="" class="col-md-1 formline-label" style="text-align: left">到账时间：</label>
                            <div class="col-md-2">
                                <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2" data-date-format="yyyy-mm-dd" data-date="" class="input-group date form_date">
                                    <input readonly="" value="" size="16" id="date" class="form-control">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                            <label for="" class="col-md-1 formline-label">到账合计：</label>
                            <div class="col-md-2">
                                <input class="form-control" type="text" id="pay_value">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="enter-box">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ static }}/js/bootstrap-datetimepicker.js"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
	    autoclose: 1,
	    todayHighlight: 1,
	    startView: 2,
	    minView: 2,
	    forceParse: 0
    });


</script>
<script>
    $('#btn-query').click(function () {
        var start = $('#start').val();
        var end   = $('#end').val();
        if(!start || !end){
            alert('查询起止日期不能为空');
            return false;
        }
        $('#form').submit();
    });

    $(document).on('click','#btn-enter',function(){
        var date = $('#date').val();
        var pay_value = $('#pay_value').val();
        if(!date || !pay_value){
            alert('到帐日期和到账金额不能为空');
            return false;
        }
        var data ={csrfmiddlewaretoken: CSRF,'pay_value':pay_value,'date':date};
        var r=confirm('确认更改付款状态？');
        if(r){
            $.ajax({
                url:"{% url 'YDNoPayUpdate' %}",
                method:'post',
                dataType:'json',
                data:data,
                success:function(data){
                    if(data.msg=='0'){
                        alert('状态更改成功');
                        window.location.reload();
                    }
                    if(data.msg=='1'){
                        alert('状态更改失败')
                    }
                },
                error:function(){
                }
            })
        }
    })
</script>
{% endblock %}
