<div class="widget-box">
    <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
        <h5>顾客信息</h5>
    </div>
    <div class="widget-content nopadding">
        <div id="buyerInfo" class="collapse in widget-content">
            <div class="row formline">
                <label for="" class="col-md-1 formline-label">客户名称：</label>
                <div class="col-md-2">
                    <input class="form-control" placeholder="" type="text" id="buyerName">
                </div>
                <label for="" class="col-md-1 formline-label">联系电话：</label>
                <div class="col-md-2">
                    <input class="form-control" placeholder="" type="text" id="buyerPhone">
                </div>
                <label for="" class="col-md-1 formline-label">单位名称：</label>
                <div class="col-md-3">
                    <input class="form-control" placeholder="" type="text" id="buyerCompany">
                </div>
            </div>
        </div>
    </div>
</div>