<div id="demo" class="collapse in widget-content">
    <div id="cardsForm">
        <div class="row formline">
            <label for="" class="col-xs-1 formline-label">号段开始：</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" name="cardStart" id="cardStart" required value="{{ cardStart }}">
            </div>
            <label for="" class="col-xs-1 formline-label">号段结束：</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" name="cardEnd" id="cardEnd" required value="{{ cardEnd }}">
            </div>
            <div class="col-xs-1">
                <button type="reset" class="btn btn-warning btn-add pull-right">添加</button>
            </div>
        </div>
    </div>
    <div class="row formline">
        <div class="col-xs-12">
            <button type="button" class="btn btn-info query-btn pull-right">查询</button>
        </div>
    </div>
</div>
