<div class="widget-box" style="display: none" id="anomalyBox">
    <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
        <h5>异常数据</h5>
    </div>
    <div class="widget-content nopadding check-operat">
        <table class="table table-striped table-hover data-table table-form-my" id="anomaly">
            <thead>
            <tr>
                <th>卡号</th>
                <th>面值</th>
                <th>余额</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody id="ListOutErr"></tbody>
        </table>
    </div>
</div>
<div class="widget-box" id="correctBox">
    <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
        <h5>正常数据</h5>
    </div>
    <div class="widget-content nopadding check-operat" style="max-height: 200px;overflow-y: auto;">
        <table class="table table-striped table-hover data-table table-form-my" id="correct">
            <thead>
            <tr>
                <th>卡号</th>
                <th>面值</th>
                <th>余额</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="cardOut" id="ListOut"></tbody>
        </table>

    </div>
    <div class="widget-content nopadding cardOutTotal" style="overflow: hidden">
        <p class="text col-xs-3" id="totalNum">合计数量：<b>0</b>张</p>
        <p class="text col-xs-3" id="totalVal">合计金额：<b>0.00</b>元</p>
    </div>
</div>