<table class="table table-striped table-hover table-form-my">
    <thead>
        <tr>
            <th style="width: 10em">卡号</th>
            <th>面值(单位：元)</th>
            <th>余额(单位：元)</th>
            <th>可否操作</th>
            <th style="width: 10em">操作</th>
        </tr>
    </thead>
    <tbody id="cardList">
        <tr>
            <td><input class="form-control cardId" type="text" name="cardId"></td>
            <td><input type='text' class='form-control' disabled="disabled"></td>
            <td><input type='text' class='form-control' disabled="disabled"></td>
            <td><input type='text' class='form-control' disabled="disabled"></td>
            <td><button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this);">删除</button></td>
        </tr>
    </tbody>
</table>
<script>
    $(document).on("change","#cardList .cardId",function(){
        var cardIdStr = $(this).val();
        var cardId = cardIdStr.split("=")[0];
        $(this).val(cardId);
        //检查是否有重复卡号
        var cardList = $('#cardList');
        var arr1 = getCardIds(cardList);
        var YcardList =$('#YcardList');
        var arr2 = getCardIds(YcardList);
        arr1 = arr1.concat(arr2);
        arr1.remove(cardId);
        if(arr1.indexOf(cardId)>-1){
            alert('卡号：'+cardId+',已经存在于售卡或赠卡列表中,请更换');
            $(this).val('');
            return false;
        }
        //卡校验
        var ajaxOpt = {'url':'{% url 'cardcheck' %}?cardId='+cardId,'method':'get'};
        doAjax(this,ajaxOpt,showCardIfno,setTotalByCardList);
        addRow(this);
    });

</script>