<div class="widget-box discBox">
    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
        <h5>优惠管理</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-striped table-hover table-form-my">
            <thead>
                <tr>
                    <th>卡号</th>
                    <th>面值</th>
                    <th>余额</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="discount2" id="YcardList">
                <tr>
                    <td><input class="form-control cardId" type="text"></td>
                    <td><input type='text' class='form-control' disabled="disabled"></td>
                    <td><input type='text' class='form-control' disabled="disabled"></td>
                    <td><input type='text' class='form-control' disabled="disabled"></td>
                    <td><button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this)">删除</button></td>
                </tr>
            </tbody>
        </table>

        <div class="discountTotal row formline">
            <p class="text col-md-3" id="totalNum">优惠数卡合计：<b>0</b>张</p>
            <p class="text col-md-3" id="totalVal">优惠金额合计：<b>0.00</b>元</p>
            <p class="text col-md-2" id="totalYBalance">补差金额：<b class="red">0.00</b>元</p>
        </div>
    </div>
</div>
<script>
    {% comment %}function setBestowedTotal() {
        cls = 'discountTotal';
        var cardList = $('#YcardList');
        var cardsTotal = getCardListVal(cardList,1,cls);
        var cardsTotalVal = cardsTotal.totalVal;
        var discVal = parseFloat($("#discTotal").val());
        if(!discVal){discVal=0}
        //补差
        discPay  = parseFloat(cardsTotalVal) - parseFloat(discVal);
        $('#totalYBalance b').text(discPay);

    }{% endcomment %}

    $(document).on("change",".cardId",function(){
        var cardIdStr = $(this).val();
        var cardId = cardIdStr.split("=")[0];
        $(this).val(cardId);

        //检查是否有重复卡号
        var cardList = $('#YcardList');
        var arr1 = getCardIds(cardList);
        arr1.remove(cardId);
        if(arr1.indexOf(cardId)>-1){
            alert('卡号：'+cardId+',已经存在于售卡或赠卡列表中,请更换');
            $(this).val('');
            return false;
        }

        //卡校验
        var ajaxOpt = {'url':'{% url 'cardcheck' %}?cardId='+cardId,'method':'get'};
        doAjax(this,ajaxOpt,showCardIfno,setTotalByCardList);
        addRow(this);
    });
</script>