<div class="widget-box discBox" style="display: none;">
    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
        <h5>优惠管理</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-striped table-hover table-form-my">
            <thead>
                <tr>
                    <th>卡号</th>
                    <th>面值</th>
                    <th>余额</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="discount" id="YcardList">
                <tr>
                    <td><input class="form-control cardId" type="text"></td>
                    <td><input type='text' class='form-control' disabled="disabled"></td>
                    <td><input type='text' class='form-control' disabled="disabled"></td>
                    <td><input type='text' class='form-control' disabled="disabled"></td>
                    <td><button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this)">删除</button></td>
                </tr>
            </tbody>
        </table>

        <div class="discountTotal row formline">
            <div class="row formline" style="margin-top: 10px">
                <label class="label-my" style="text-align: left">优惠返现：</label>
                <div class="col-xs-2">
                    <input class="form-control" type="text" id="Ycash" onblur="discCash()" value="0">
                </div>
                <span class="label-my">元</span>
            </div>
            <p class="text col-xs-3" id="totalNum">优惠数卡合计：<b>0</b>张</p>
            <p class="text col-xs-3" id="totalVal">优惠金额合计：<b>0.00</b>元</p>
{#                            <p class="text col-xs-3" id="balance">应补差额：<b>0.00</b>元</p>#}
        </div>
    </div>
</div>