<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> Copyright &copy; Goonic All rights reserved.</div>
</div>
<!--end-Footer-part-->
<script src="{{ static }}/js/jquery.min.js"></script>
<script src="{{ static }}/js/bootstrap.min.js"></script>
<script src="{{ static }}/js/jquery.jqprint-0.3.js"></script>
<script src="{{ static }}/js/matrix.js"></script>
<script src="{{ static }}/js/table-my.js"></script>
<script src="{{ static }}/js/jquery.form.js"></script>
<script src="{{ static }}/js/softkey/md5.js"></script>
<script src="{{ static }}/js/softkey/Syunew3.js"></script>
<script src="{{ static }}/js/softkey/softkeyvalidator.js" charset="utf-8"></script>
<script type="text/javascript">
    var soft_key_validator = new SoftKeyValidator('101','{{ SOFTKEY_URL }}');
    soft_key_validator.loadSoftKey();
</script>