<!--Footer-part-->
<div class="row-fluid noprint">
    <div id="footer" class="span12" style="color: #FFFFFF; text-align: center;">宽广控股集团信息中心</div>
</div>

<!--end-Footer-part-->
<script src="{{ static }}/js/bootstrap.min.js"></script>
<script src="{{ static }}/js/jquery.jqprint-0.3.js"></script>
<script src="{{ static }}/js/matrix.js"></script>
<script src="{{ static }}/js/table-my.{{ request.session.s_static_version }}.js"></script>
<script src="{{ static }}/js/jquery.form.js"></script>
<script src="{{ static }}/js/softkey/md5.js"></script>
<script src="{{ static }}/js/softkey/Syunew3.js"></script>
<script src="{{ static }}/js/softkey/softkeyvalidator.js" charset="utf-8"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.js"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    var soft_key_validator = new SoftKeyValidator('101','{{ SOFTKEY_URL }}');
    soft_key_validator.loadSoftKey();
</script>
