<div class="widget-box">
    <div class="widget-content nopadding Total">
        <div class="row">
            <p class="text col-md-2" id="totalPaid">应付金额：<b class="red">0.00</b>元</p>
            <p class="text col-md-2" id="totalVal">售卡合计：<b class="red">{{ cardOutTotalVal |default:0.00 }}</b>元</p>
            <div class="Total-discInfo">
                <p class="text col-md-2" id="totalYBalance">优惠补差：<b class="red">0.00</b>元</p>
                <p class="text col-md-2" id="discount">
                    折扣额度：<input type="text" value="0.00" onblur="setDiscValWhenRateChange(this)">%
                </p>
                <input  id="discRateStandard" type="hidden" value="">
                <input  id="disCode" type="hidden" value="">
                <p class="text col-md-2" id="discountVal">优惠金额（赠卡）：<b class="red">0.00</b>元</p>
            </div>

        </div>
        <div class="row">
            <p class="text col-md-12" id="payInfo">
                <b>支付详细：</b>
                <span></span>
            </p>
        </div>
        <div class="row">
            <p class="text col-md-12" id="payTotal">支付合计：<b class="red">0.00</b>元</p>
        </div>
    </div>
</div>

<div style="padding-right: 17px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; display: none;" class="modal" id="discCodebBx">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">自定义折扣授权码</h4>
            </div>
            <div class="modal-body widget-content">
                <input class="form-control" type="text" id="disCodeToCheck">
            </div>
            <div class="modal-footer">
                <p id="warn" class="red"></p>
                <button type="button" class="btn btn-default" onclick="colseDiscCodeCheckBox();">关闭</button>
                <button type="button" class="btn btn-primary" onclick="checkDisCode();">提交</button>
            </div>
        </div>
    </div>
</div>

<script>
    //自定义返点，生成优惠金额
    function setDiscValWhenRateChange(obj){
        //设置返点金额
        var _this = $(obj);
        var rate = (parseFloat(_this.val()).toFixed(2));
        var discRateStandard = $('#discRateStandard').val();
        if(rate <= discRateStandard){
            //置空折扣授权码
            $('#disCode').val('');
            var cardSaleTotalVal = parseFloat($('.Total #totalVal b').text());

            setTotalBycardSaleTotalVal(rate/100,cardSaleTotalVal);
        }else {
            openDiscCodeCheckBox();
        }
    }
    function colseDiscCodeCheckBox() {
        $('#discCodebBx').hide();
        var warn = $('#warn').html();
        if(warn == '授权码无效' || warn == '' ){
            var discRateStandard = $('#discRateStandard').val();
            $('#discount input').val(discRateStandard);
        }
    }
    function openDiscCodeCheckBox() {
        $('#warn').html('');
        $('#discCodebBx').show();
    }

    function checkDisCode() {
        var disCode = $('#disCodeToCheck').val();
        var warnObj = $('#warn');
        if (!disCode){
            warnObj.html('授权码不能为空');
            return false;
        }
        warnObj.html('正在验证请稍后');
        $.ajax({
            url:"{% url 'disCodeCheck' %}?discode="+disCode+"&shop={{ shopcode |safe }}",
            dataType:'json',
            method:'get',
            success:function(data){
                if(data.msg=='0'){
                    warnObj.html('ok');
                    $('#disCode').val(disCode);
                    colseDiscCodeCheckBox();
                    var cardSaleTotalVal = parseFloat($('.Total #totalVal b').text());
                    setTotalBycardSaleTotalVal('',cardSaleTotalVal);
                }else{
                    $('#warn').html('授权码无效');
                }
            }
        })
    }

</script>