<div class="widget-box payment">
    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
        <h5>支付管理</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-striped table-hover table-form-my">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>支付方式</th>
                    <th>支付额度</th>
                    <th>预计到账日期</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody class="payList">
                <tr>
                    <td><input value="1" type="checkbox"></td>
                    <td><input type='text' class='form-control payName' value="现金" disabled></td>
                    <td><input type='text' class='form-control payVal'></td>
                    <td>无</td>
                    <td><input type='text' class='form-control remark'></td>
                </tr>
                <tr>
                    <td><input value="2" type="checkbox"></td>
                    <td><input type='text' class='form-control payName' value="代金卷" disabled></td>
                    <td><input type='text' class='form-control payVal'></td>
                    <td>无</td>
                    <td><input type='text' class='form-control remark'></td>
                </tr>
                <tr>
                    <td><input value="3" type="checkbox" id="bank"></td>
                    <td><input type='text' class='form-control payName' value="汇款" disabled></td>
                    <td><input type='text' class='form-control payVal'></td>
                    <td>无</td>
                    <td><input type='text' class='form-control remark'></td>
                </tr>
                <tr>
                    <td><input value="5" type="checkbox"></td>
                    <td><input type='text' class='form-control payName' value="POS消费" disabled></td>
                    <td><input type='text' class='form-control payVal'></td>
                    <td>无</td>
                    <td><input type='text' class='form-control remark'></td>
                </tr>
                <tr>
                    <td><input value="4" type="checkbox" id="noPay"></td>
                    <td><input type='text' class='form-control payName' value="赊销" disabled></td>
                    <td><input type='text' class='form-control payVal'></td>
                    <td>
                        <div data-date-format="yyyy-mm-dd" class="input-group date form_date">
                            <input readonly placeholder="必填" class="form-control received_time">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </td>
                    <td><input type='text' class='form-control remark'></td>
                </tr>
                <tr>
                    <td><input id="parterId" value="" type="checkbox"></td>
                    <td>
                        <select name="" id="parter" class="form-control">
                            <option value="">请选择三方平台名称</option>
                            <option value="6">移动积分</option>
                            <option value="7">美团</option>
                            <option value="8">糯米</option>
                            <option value="10">慧购电子支付</option>
                            <option value="11">慧购店内支付</option>
                        </select>
                    </td>
                    <td><input type='text' class='form-control payVal'></td>
                    <td>无</td>
                    <td><input type='text' class='form-control remark'></td>
                </tr>
                {% comment %}<tr>
                    <td><input id="hjs" value="9" type="checkbox"></td>
                    <td><input type='text' class='form-control payName' value="黄金手" disabled></td>
                    <td>
                        <input type='text' class='form-control payVal' id="hjsVal" value="0" disabled>
                        <input type='hidden' id="hjsStr" value="">
                    </td>
                    <td><input type='text' class='form-control remark' id="remark-hjs" disabled></td>
                </tr>{% endcomment %}
            </tbody>
        </table>

    </div>
</div>
{% comment %}<div style="display: none; padding-right: 17px; background: rgba(0,0,0,0.5)" class="modal" id="receivedTimeBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                   预计到账日期
                </h4>
            </div>
            <div class="modal-body widget-content">
                <table class="table table-striped table-form-my">
                    <tbody>
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close">取消</button>
                <button type="button" class="btn btn-primary" id="submit">提交</button>
            </div>
        </div>
    </div>
</div>
<script>

$('.payList #noPay').click(function(){
    var flag = $(this).is(':checked');
    if(flag){
        $('#receivedTimeBox').show()
    }
});
$('#receivedTimeBox #submit').click(function(){
    if(!$('#received_time').val()){
        alert('请补全信息后提交');
    }else{
        $('#receivedTimeBox').hide()
    }
});
$('#receivedTimeBox #close').click(function(){
    $('.payList #noPay').prop('checked',false);
    $('#receivedTimeBox').hide()
});
</script>
{% endcomment %}
<script>
//计算混合支付的合计金额
$(document).on('blur','.payList .payVal,.payList input:checkbox,.payList .remark,#parter',function(){
    palyList = $('.payList').find('tr');
    var totalStr = '';
    var payTotal=0;
    var payIdList = [];
    var payCash = 0;//现金、pos、代金券、汇款、赊销
    for(var i=0;i<palyList.length;i++){
        var cardSaleTotalVal = parseFloat($(".Total #totalVal b").text());
        var checkBox = $(palyList[i]).find('td').eq(0).find('input')[0];
        var flag = $(checkBox).is(':checked');
        var payName = '';
        var payVal= parseFloat($(palyList[i]).find('td').eq(2).find('input').val());
        if(flag && payVal){
            var payId =0;
            //获取支付ID
            if($(palyList[i]).find('td').eq(1).find('select')[0]){
                payId = $(palyList[i]).find('td').eq(1).find('select option:selected').val();
                payName = $(palyList[i]).find('td').eq(1).find('select option:selected').text();

            }else{
                payId = $(palyList[i]).find('td').eq(0).find('input[type=checkbox]').val();
                payName = $(palyList[i]).find('td').eq(1).find('input').val();
            }
            if(!payId){
                alert('请选择三方支付方式');
                break;
            }
            //核查混合支付
            var checkRes = checkPayError(payId,payIdList,payCash);
            if (checkRes) {
                alert('混合支付存在异常，请核查');
                $(palyList[i]).find('td').eq(2).find('input').val('');
                break;
            }else{
                payIdList.push(payId);
            }

            //根据支付方式，产生应付金额/优惠等信息
            if(payId == 1 || payId == 2 || payId == 3 || payId == 4){
                payCash += payVal;
                setTotalBycardSaleTotalVal('',cardSaleTotalVal)
            }
            else if(payId == 5){//pos刷卡
                payCash += payVal;
                //规则1：门店DISC_LEVEL为1，则区分
                //规则2：订单超过最小返点金额+1000，则不区分；
                //规则3：订单金额在最小返点金额和最小返点金额+1000之间，则区分
                if(cardSaleTotalVal<(DISC_RATES[0].val_min+1000) && cardSaleTotalVal>=DISC_RATES[0].val_min && DISC_LEVEL=='1') {
                    changeDiscValByPos(cardSaleTotalVal, payVal);
                }
            }
            else if(payId == 6){//移动积分
                changeDiscValByPayment(cardSaleTotalVal,payVal,0.01)
            }
            else if(payId == 7 || payId == 8 || payId == 10){
                changeDiscValByPayment(cardSaleTotalVal,payVal,0.02)
            }
            else if(payId == 11){//慧购
                changeDiscValByPayment2(cardSaleTotalVal,payVal,0.02)
            }

            totalStr += payName +' : '+payVal+'元 ';
            remarks = $(palyList[i]).find('td').eq(3).find('input').val();
            if(remarks){
                totalStr += '(备注：'+remarks+'), ';
            }else{
                totalStr += ', ';
            }
            payTotal +=parseFloat(payVal);
        }

        $('.Total #payInfo span').html(totalStr);
        $('.Total #payTotal b').html(payTotal);
    }
});

{% comment %}function checkPayError(payId,payIdList,payCash) {
    var payList1 = ['7','8','10','11'];
    var payList2 = ['3','4'];
    res = false;
    if (payList1.indexOf(payId) > 0) {
        if (payIdList.indexOf('1') >= 0 || payIdList.indexOf('2') >= 0 || payIdList.indexOf('3') >= 0 || payIdList.indexOf('4') >= 0 || payIdList.indexOf('5') >= 0) {
            res = true;
        }
    } else if (payId == 6) {//移动积分
        if (payCash >= DISC_RATES[0].val_min) {
            res = true;
        }
    }else if(payList2.indexOf(payId) >= 0){
        if(payIdList.indexOf('3') >= 0 || payIdList.indexOf('4') >= 0){
            res = true;
        }
    }
    return res;
}{% endcomment %}
</script>
<script>
{% comment %}//支付列表，三方平台切换
$(document).on('change','.payList #parter',function(){
    var val = $(this).val();
    var parentTr = $(this).parent().parent();
    $(parentTr).find('td').eq(0).find('input').val(val);
});
//支付方式--银行打款
/*var posVal = 0;
$(document).on('change','.payList #blank',function(){
    var val = $(this).val();
    var parentTr = $(this).parent().parent();
    $(parentTr).find('td').eq(0).find('input').val(val);
});*/

function changeDiscValByPayment(cardSaleTotalVal,Val,discRate) {
     $('.Total-discInfo').hide();
    //设置折扣率
    $('.Total #discount input').val(discRate*100);
    //设置折扣金额
    var discountVal = parseFloat(Val*discRate).toFixed(2);
    $('.Total #discountVal b').text(discountVal);
    //设置优惠补差
    $('.Total #totalYBalance b').text(0);
    //设置应付
    $('.Total #totalPaid b').text(cardSaleTotalVal);
    //设置优惠返现
    $('.discountTotal #Ycash').val(discountVal);
    $('#YcardList').empty();
    $(".discBox").hide();
}

function changeDiscValByPayment2(cardSaleTotalVal,Val,discRate) {
    $('.Total-discInfo').show();
    //计算折扣金额
    $('.Total #discount input').val(discRate*100);
    var discountVal = parseFloat(Val*discRate).toFixed(2);
    $('.Total #discountVal b').text(discountVal);
    //优惠补差
    $('.Total #totalYBalance b').text(0);
    //应付金额
    $('.Total #totalPaid b').text(cardSaleTotalVal);
    //设置优惠返现
    $(".discBox").show();
    $(".discountTotal #Ycash").val(discountVal)
}

/*
* 计算返点金额
* cardSaleTotalVal：cardSaleTotalVal：售卡总金额
* posVal：pos刷卡金额
* */
function changeDiscValByPos(cardSaleTotalVal,posVal) {
    if(cardSaleTotalVal-posVal>=DISC_RATES[0].val_min){
        setTotalBycardSaleTotalVal('',cardSaleTotalVal)
    }else{
        //4、优惠金额清零
        $('.Total #discountVal b').text(0);
        //5、优惠补差清零
        $('.Total #totalYBalance b').text(0);
        $('.Total #discount input').val(0);
        //6、设置订单应付金额 = 售卡列表合计金额 + 优惠补差
        $('.Total #totalPaid b').text(cardSaleTotalVal);
        $('.discBox').hide();
    }
}{% endcomment %}
</script>