{% extends 'common/baseForJobs.html' %}
{% block title %}借卡管理--退卡{% endblock %}
{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">借卡管理</a>
            <a href="#" class="current">退卡</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>借卡管理--退卡</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>顾客信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div id="buyerInfo" class="collapse in widget-content">
                            <div class="row formline">
                                <label for="" class="col-xs-1 formline-label">单位名称：</label>
                                <div class="col-xs-2">
                                    <input class="form-control" placeholder="" type="text" id="borrowDepart">
                                </div>
                                <label for="" class="col-xs-1 formline-label">单位编号：</label>
                                <div class="col-xs-2">
                                    <input class="form-control" placeholder="" type="text" id="borrowDepartCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  退卡 号段查询表单 start  -->
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>退卡号段</h5>
                    </div>
                    {% include 'common/cardsQueryForm.html' %}
                </div>
                <!--  退卡 号段查询表单 end  -->

                <!--  退卡 号段查询结果 start  -->
                {% include 'common/cardsQueryResult.html' %}
                <!--  退卡 号段查询结果 start  -->
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('.query-btn').click(function(){
        var borrowDepartCode = $('#borrowDepartCode').val();
        if(!borrowDepartCode){
            alert('借卡单位编号不能为空');
            return false;
        }
        //拼接查询号段
        var rows = $('#cardsForm').find('.row');
        var cards = [];
        for(var i=0;i<rows.length;i++){
            var startStr = $(rows[i]).find('#cardStart').val();
            var start = startStr.split('=')[0];
            $(rows[i]).find('#cardStart').val(start);
            var endStr = $(rows[i]).find('#cardEnd').val();
            var end = endStr.split('=')[0];
            $(rows[i]).find('#cardEnd').val(end);
            if(start && end){
                if(parseInt(start)>parseInt(end)){
                    alert('起始卡号必须小于截至卡号，\n错误位置：(起始卡号：'+start+',结束卡号：'+end+')');
                    return false;
                }
                var item = {'start':start,'end':end};
                cards.push(item);
            }
        }

        $.ajax({
            url:'{% url 'borrowBackQuery' %}',
            method:'post',
            dataType:'json',
            data:{
                csrfmiddlewaretoken: CSRF,
                cards:JSON.stringify(cards),
                borrowDepartCode:borrowDepartCode
            },
            success:function(data){
                if(data.length==0){
                    alert('此卡断不存在，请核查!')
                }
                showData(data);
            },
            error:function(){

            }
        })
    });

    function showData(data) {
        $('#anomaly').find('tbody').empty();
        $('#correct').find('tbody').empty();
        for(var i=0;i<data.length;i++){
            if(data[i].mode=='1' && data[i].detail==data[i].new_amount && data[i].is_borrow == '1' ){
                //正常数据
                var cols = $('#correct').find('th').length;
                var tr=$('<tr></tr>');
                for(var j=0;j<cols;j++){
                    var td = $('<td></td>');
                    if(j==0){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].cardno)
                    }else if(j==1){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].new_amount)
                    }else if(j==2){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].detail)
                    }else if(j==3){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val('已激活');
                    }else if(j==4){
                        var obj = $('<button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this)">删除</button>');
                    }
                    td.append(obj);
                    tr.append(td);
                }
                $('#correct').find('tbody').append(tr);

            }
            else{
                var cols = $('#anomaly').find('th').length;
                var tr=$('<tr></tr>');
                for(var j=0;j<cols;j++){
                    var td = $('<td></td>');
                    if(j==0){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].cardno)
                    }else if(j==1){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].new_amount)
                    }else if(j==2){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].detail)
                    }else if(j==3){
                        var obj = $('<input class="form-control red" disabled ></input>');
                        if(data[i].mode=='9'){
                            obj.val('未激活');
                        }else if(data[i].mode=='2'){
                            obj.val('未到账款');
                        }else if(data[i].mode=='r'){
                            obj.val('已回收');
                        }else if(data[i].mode=='m'){
                            obj.val('一般挂失');
                        }else if(data[i].mode=='l'){
                            obj.val('严重挂失');
                        }else if(data[i].mode=='f'){
                            obj.val('已冻结');
                        }else if(data[i].mode=='e'){
                            obj.val('已换卡');
                        }else if(data[i].mode=='q'){
                            obj.val('退卡');
                        }else if(data[i].mode=='-1'){
                            obj.val('不存在');
                        }
                        if(data[i].is_borrow=='0'&&data[i].mode=='1'){
                            obj.val('已激活，非借卡');
                        }
                    }else if(j==4){
                        var obj = $('<button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this)">删除</button>');
                    }
                    td.append(obj);
                    tr.append(td);
                }
                $('#anomaly').find('tbody').append(tr);
            }
            setTotal($('#correct').find('tbody'));
        }
    }

    $(document).on('click','#btn-enter',function(){
        var url = "{% url 'borrowBackSave' %}";
        cardBack(url);
    })
</script>
<script>
    function cardBack(url){
        //售卡列表
        var cardList = getCardList($('#cardList'),'2');
        if(cardList.length==0){
            alert('退卡列表为空，请核对后再尝试提交！');
            return false;
        }
        var data = { 'cardStr':JSON.stringify(cardList),'postToken':$('#post-token').val()};
        doAjaxSave(url,data);
    }
</script>
{% endblock %}
