{% extends 'common/baseForJobs.html' %}
{% block title %}补卡管理{% endblock %}
{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="current">补卡管理</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>补卡管理</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <form action="">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                            <h5>入卡查询</h5>
                        </div>
                        {% include 'common/cardInQuery.html' %}
                    </div>
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                            <h5>补卡人信息</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div id="buyerInfo" class="collapse in widget-content">
                                <div class="row formline">
                                    <label for="" class="col-md-1 formline-label">补卡原因：</label>
                                    <div class="col-md-2">
                                         <select name="action_type" id="action_type" class="form-control">
                                            <option value="0">卡损坏</option>
                                            <option value="1">卡挂失</option>
                                        </select>
                                    </div>
                                    <label for="" class="col-md-1 formline-label"><span class="red">*</span>补卡人姓名：</label>
                                    <div class="col-md-2">
                                        <input class="form-control" placeholder="" type="text" id="user_name">
                                    </div>
                                    <label for="" class="col-md-1 formline-label"><span class="red">*</span>联系电话：</label>
                                    <div class="col-md-2">
                                        <input class="form-control" placeholder="" type="text" id="user_phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="enter-box"><button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).on("change",".cardId",function(){
        var cardIdStr = $(this).val();
        var cardId = cardIdStr.split("=")[0];
        $(this).val(cardId);
        //检查是否有重复卡号
        var cardInList = $('#cardInList');
        var arr1 = getCardIds(cardInList);
        arr1.remove(cardId);
        if(arr1.indexOf(cardId)>-1){
            alert('卡号：'+cardId+',已经存在于入卡卡列表中,请更换');
            $(this).val('');
            return false;
        }

        var ajaxOpt = {'url':'{% url 'cardcheck_mssql' %}?cardId='+cardId,'method':'get'};

        doAjax2(this,ajaxOpt,showCardIfno2,setTotalByCardList);
        addRow(this);
    });

    $(document).on('click','#btn-enter',function(){
        var url = "{% url 'cardfill_save' %}";
        saveCardFillOrder(url);
    });
</script>
{% endblock %}
