{% extends 'common/baseForJobs.html' %}
{% block title %}单卡售卡{% endblock %}
{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">售卡</a>
            <a href="#" class="current">单卡销售</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>单卡销售</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>单卡查询</h5>
                    </div>
                    <div class="widget-content nopadding">
                        {% include 'common/cardQueryTable.html' %}
                    </div>
                </div>

                {% include 'common/discount.html' %}
                {% include 'common/payment.html' %}
                {% include 'common/orderTotal.html' %}

                {% include 'common/buyerInfo.html' %}
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    //保存订单
    $(document).on('click','#btn-enter',function(){
        var action_type = '1';//单卡售卡
        var url = "{% url 'saveorder' %}";
        var cardList = getCardList($('#cardList'),'1');
        saveCardSaleOrder(action_type,url,cardList);
    })
</script>

{% endblock %}