<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>批量销售</title>
</head>
<body>
{% include 'common/head.html' %}
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">售卡</a>
            <a href="#" class="current">批量销售</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>批量售卡管理</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-search"> </span></span>
                        <h5 data-toggle="collapse" data-target="#demo">批量查询</h5>
                    </div>
                    <div id="demo" class="collapse in widget-content">
                        <div id="cardsForm">
                            <div class="row formline">
                                <label for="" class="col-xs-1 formline-label">号段开始：</label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" name="cardStart" id="cardStart" required value="{{ cardStart }}">
                                </div>
                                <label for="" class="col-xs-1 formline-label">号段结束：</label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" name="cardEnd" id="cardEnd" required value="{{ cardEnd }}">
                                </div>
                                <div class="col-xs-1">
                                    <button type="reset" class="btn btn-warning btn-add pull-right">添加</button>
                                </div>
                            </div>
                        </div>
                        <div class="row formline">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-info enter-btn pull-right">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>异常数据</h5>
                    </div>
                    <div class="widget-content nopadding check-operat">
                        <table class="table table-striped table-hover data-table table-form-my" id="anomaly">
                            <thead>
                                <tr>
                                    <th>卡号</th>
                                    <th>面值</th>
                                    <th>余额</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>正常数据</h5>
                    </div>
                    <div class="widget-content nopadding check-operat" style="max-height: 200px;overflow-y: auto;">
                        <table class="table table-striped table-hover data-table table-form-my" id="correct">
                            <thead>
                                <tr>
                                    <th>卡号</th>
                                    <th>面值</th>
                                    <th>余额</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="cardList"></tbody>
                        </table>
                    </div>
                </div>
                <div class="widget-box payment">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>支付管理</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-striped table-hover table-form-my">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>支付方式</th>
                                    <th>支付额度</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody class="payList">
                                <tr>
                                    <td><input id="" value="1" type="checkbox"></td>
                                    <td><input type='text' class='form-control payName' value="现金" disabled></td>
                                    <td><input type='text' class='form-control payVal'></td>
                                    <td><input type='text' class='form-control'></td>
                                </tr>
                                <tr>
                                    <td><input id="" value="2" type="checkbox"></td>
                                    <td><input type='text' class='form-control payName' value="代金卷" disabled></td>
                                    <td><input type='text' class='form-control payVal'></td>
                                    <td><input type='text' class='form-control'></td>
                                </tr>
                                <tr>
                                    <td><input id="blankId" value="" type="checkbox"></td>
                                    <td>
                                        <select name="" id="blank" class="form-control">
                                            <option value="">请选择银行打款方式</option>
                                            <option value="3">汇款</option>
                                            <option value="4">欠款</option>
                                            <option value="5">POS消费</option>
                                        </select>
                                    </td>
                                    <td><input type='text' class='form-control payVal'></td>
                                    <td><input type='text' class='form-control'></td>
                                </tr>
                                <tr>
                                    <td><input id="" value="6" type="checkbox"></td>
                                    <td><input type='text' class='form-control payName' value="移动积分" disabled></td>
                                    <td><input type='text' class='form-control payVal'></td>
                                    <td><input type='text' class='form-control'></td>
                                </tr>
                                <tr>
                                    <td><input id="parterId" value="" type="checkbox"></td>
                                    <td>
                                        <select name="" id="parter" class="form-control">
                                            <option value="">请选择三方平台名称</option>
                                            <option value="7">美团</option>
                                            <option value="8">糯米</option>
                                        </select>
                                    </td>
                                    <td><input type='text' class='form-control payVal'></td>
                                    <td><input type='text' class='form-control'></td>
                                </tr>
                                <tr>
                                    <td><input id="hjs" value="9" type="checkbox"></td>
                                    <td><input type='text' class='form-control payName' value="黄金手" disabled></td>
                                    <td>
                                        <input type='text' class='form-control payVal' id="hjsVal" value="0" disabled>
                                        <input type='hidden' id="hjsStr" value="">
                                    </td>
                                    <td><input type='text' class='form-control' id="remark-hjs" disabled></td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="display: none; padding-right: 17px; background: rgba(0,0,0,0.5)" class="modal" id="hjsBox">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">
                                           兑换码验证
                                        </h4>
                                    </div>
                                    <div class="modal-body widget-content">
                                        <table class="table table-striped table-form-my">
                                            <thead>
                                                <tr>
                                                    <th>卡号</th><th>卡密</th><th>金额</th><th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class='form-control'></td>
                                                    <td><input type="text" class='form-control'></td>
                                                    <td><input type="text" class='form-control hCost' disabled='disabled'></td>
                                                    <td><button type="button" class="btn btn-danger btn-xs btn-del">删除</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" id="close">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary" id="submit">
                                            提交更改
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>合计</h5>
                    </div>
                    <div class="widget-content nopadding Total">
                        <div class="row">
                            <p class="text col-xs-2" id="totalNum">卡合计数量：<b class="red">{{ cardTotalNum }}</b>张</p>
                            <p class="text col-xs-2" id="totalVal">卡合计金额：<b class="red">{{ cardTotalVal | floatformat:2 }}</b>元</p>
                            <p class="text col-xs-2" id="discount">
                                折扣额度：<input type="text" value="{{ rate | default:0.00}}" disabled>%
                                <button type="button" class="btn btn-warning btn-xs" id="disBtn">修改折扣率</button>
                            </p>
                            <p class="text col-xs-2" id="disCode" style="display: none">折扣授权码：<input type="text" value=""></p>
                            <p class="text col-xs-2" id="discountVal">优惠金额（赠卡）：<b class="red">{{ discountVal | floatformat:0}}</b>元</p>
                        </div>
                        <div class="row">
                            <p class="text col-xs-12" id="payInfo">
                                <b>支付详细：</b>
                                <span></span>
                            </p>
                        </div>
                        <div class="row">
                            <p class="text" id="payTotal">支付合计：<b class="red">0.00</b>元</p>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>优惠管理</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-striped table-hover table-form-my">
                            <thead>
                                <tr>
                                    <th class="hidden-phone">卡号</th>
                                    <th class="hidden-480">面值</th>
                                    <th class="hidden-480">余额</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody class="discount" id="YcardList">
                                <tr>
                                    <td><input class="form-control cardId" type="text"></td>
                                    <td><input type='text' class='form-control' disabled="disabled"></td>
                                    <td><input type='text' class='form-control' disabled="disabled"></td>
                                    <td><input type='text' class='form-control' disabled="disabled"></td>
                                    <td><button type="button" class="btn btn-danger btn-xs btn-del">删除</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="discountTotal row formline">
                            <div class="row formline" style="margin-top: 10px">
                                <label class="label-my" style="text-align: left">优惠返现：</label>
                                <div class="col-xs-2">
                                    <input class="form-control" placeholder="" type="text" id="Ycash">
                                </div>
                                <span class="label-my">元</span>
                            </div>
                            <p class="text col-xs-3" id="totalNum">卡合计数量：<b>0</b>张</p>
                            <p class="text col-xs-3" id="totalVal">卡合计金额：<b>0.00</b>元</p>
                            <p class="text col-xs-3" id="balance">应补差额：<b>0.00</b>元</p>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>顾客信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div id="buyerInfo" class="collapse in widget-content">
                            <div class="row formline">
                                <label for="" class="col-xs-1 formline-label">客户名称：</label>
                                <div class="col-xs-2">
                                    <input class="form-control" placeholder="" type="text" id="buyerName">
                                </div>
                                <label for="" class="col-xs-1 formline-label">联系电话：</label>
                                <div class="col-xs-2">
                                    <input class="form-control" placeholder="" type="text" id="buyerPhone">
                                </div>
                                <label for="" class="col-xs-1 formline-label">单位名称：</label>
                                <div class="col-xs-5">
                                    <input class="form-control" placeholder="" type="text" id="buyerCompany">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="enter-box">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-containt-part-->
<script>
    var rates = {{ rates | safe }};
</script>
{% include "common/foot.html" %}
<script>
    $('.enter-btn').click(function(){
        var rows = $('#cardsForm').find('.row');
        var cards = [];
        for(var i=0;i<rows.length;i++){
            var startStr = $(rows[i]).find('#cardStart').val();
            var start = startStr.split('=')[0];
            $(rows[i]).find('#cardStart').val(start);
            var endStr = $(rows[i]).find('#cardEnd').val();
            var end = endStr.split('=')[0];
            $(rows[i]).find('#cardEnd').val(end);
            if(start && end){
                if(parseInt(start)>parseInt(end)){
                    alert('起始卡号必须小于截至卡号，\n错误位置：(起始卡号：'+start+',结束卡号：'+end+')');
                    return false;
                }
                var item = {'start':start,'end':end};
                cards.push(item);
            }
        }

        $.ajax({
            url:'{% url 'cardsSaleQuery' %}',
            method:'post',
            dataType:'json',
            data:{
                cards:JSON.stringify(cards)
            },
            success:function(data){
                if(data.length==0){
                    alert('此卡断不存在，请核查!')
                }
                $('#anomaly').find('tbody').empty();
                $('#correct').find('tbody').empty();
                for(var i=0;i<data.length;i++){
                    if(data[i].card_status=='1' && data[i].card_value==data[i].card_blance){
                        var cols = $('#correct').find('th').length;
                        var tr=$('<tr></tr>');
                        for(var j=0;j<cols;j++){
                            var td = $('<td></td>');
                            if(j==0){
                                var obj = $('<input class="form-control" disabled></input>');
                                obj.val(data[i].card_no)
                            }else if(j==1){
                                var obj = $('<input class="form-control" disabled></input>');
                                obj.val(data[i].card_value)
                            }else if(j==2){
                                var obj = $('<input class="form-control" disabled></input>');
                                obj.val(data[i].card_blance)
                            }else if(j==3){
                                var obj = $('<input class="form-control" disabled></input>');
                                obj.val("未激活")
                            }else if(j==4){
                                var obj = $('<button type="button" class="btn btn-danger btn-xs btn-del">删除</button>');
                            }
                            td.append(obj);
                            tr.append(td);
                        }
                        $('#correct').find('tbody').append(tr);
                        setTotal($('#correct').find('tbody'),'1');
                    }
                    else{
                        var cols = $('#anomaly').find('th').length;
                        var tr=$('<tr></tr>');
                        for(var j=0;j<cols;j++){
                            var td = $('<td></td>');
                            if(j==0){
                                var obj = $('<input class="form-control" disabled></input>');
                                obj.val(data[i].card_no)
                            }else if(j==1){
                                var obj = $('<input class="form-control" disabled></input>');
                                obj.val(data[i].card_value)
                            }else if(j==2){
                                var obj = $('<input class="form-control" disabled></input>');
                                obj.val(data[i].card_blance)
                            }else if(j==3){
                                var obj = $('<input class="form-control red" disabled></input>');
                                if(data[i].card_status=='2'){
                                    obj.val('已激活');
                                }else if(data[i].card_status=='3'){
                                    obj.val('已冻结');
                                }else if(data[i].card_status=='4'){
                                    obj.val('已作废')
                                }
                            }else if(j==4){
                                var obj = $('<button type="button" class="btn btn-danger btn-xs btn-del">删除</button>');
                            }
                            td.append(obj);
                            tr.append(td);
                        }
                        $('#anomaly').find('tbody').append(tr)
                    }
                }
            },
            error:function(){

            }
        })
    });
    $(document).on("change",".cardId",function(){
        var cardIdStr = $(this).val();
        var cardId = cardIdStr.split("=")[0];
        $(this).val(cardId);

        var cardList = $('#cardList');
        var arr1 = getCardIds(cardList);
        var YcardList =$('#YcardList');
        var arr2 = getCardIds(YcardList);
        arr1 = arr1.concat(arr2);
        arr1.remove(cardId);
        //检查是否有重复卡号
        if(arr1.indexOf(cardId)>-1){
            alert('卡号：'+cardId+'已经存在于售卡或赠卡列表中,请更换');
            $(this).val('');
            return false;
        }
        //卡校验
        var ajaxOpt = {'url':'{% url 'cardcheck' %}?cardId='+cardId,'method':'get'};
        var cardtype = '1';
        doAjax(this,ajaxOpt,showCardIfno,setTotal,cardtype);
        addRow(this);
    });
    $(document).on('click','#btn-enter',function(){
        var action_type = '2';//批量售卡
        var url = "{% url 'saveorder' %}";
        saveCardSaleOrder(action_type,url);
    })
</script>
<script>
    $('#disCode input').blur(function(){
        var disCode = $(this).val();
        if(disCode){
            checkDiscode("{% url 'disCodeCheck' %}?discode="+disCode+"&shop={{ shopcode |safe }}");
        }
    });
</script>
</body>
</html>
