<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>卡入库</title>
</head>
<body>
{% include 'common/head.html' %}
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">卡管理</a>
            <a href="#" class="current">卡入库</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>卡入库</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div id="demo" class="collapse in widget-content">
                    <form action="{% url 'cardInStore' %}" method="post" id="Form">
                        <div class="row formline">
                            <label for="" class="col-xs-4 formline-label">入库单号：</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="orderSn" id="orderSn" required value="{{ orderSn }}">
                            </div>

                            <div class="col-xs-2">
                                <button type="button" class="btn btn-info enter-btn">提交</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!--end-containt-part-->
{% include "common/foot.html" %}
<script>
    var msg = "{{ res.msg | safe}}";
    if(msg=='1'){
        alert('此单号({{ sheetid }})已经存在');
        $('input').val('')
    }else if(msg=='2'){
        alert('数据提交成功')
    }else if(msg=='3'){
        alert('数据提交失败')
    }else if(msg=='4'){
        alert('此单号不属于此门店，没有权限入库此单充值卡')
    }else if(msg=='5'){
        alert('此单号不存在')
    }

    $('.enter-btn').click(function(){
        var orderSn = $('#orderSn').val();
        if(!orderSn){
            alert('单号不能为空');
            return false;
        }
        $("#Form").submit();
    })
</script>
</body>
</html>