{% extends 'common/baseForJobs.html' %}
{% block title %}批量售卡{% endblock %}
{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">售卡</a>
            <a href="#" class="current">批量销售</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>批量售卡管理</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-search"> </span></span>
                        <h5 data-toggle="collapse" data-target="#demo">批量查询</h5>
                    </div>
                    {% include 'common/cardsQueryForm.html' %}
                </div>

                {% include 'common/cardsQueryResult.html' %}

                {% include 'common/discount.html' %}
                {% include 'common/payment1.html' %}
                {% include 'common/orderTotal.html' %}

                {% include 'common/buyerInfo.html' %}
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('.query-btn').click(function(){
        var rows = $('#cardsForm').find('.row');
        var cards = [];
        //获得卡段列表
        for(var i=0;i<rows.length;i++){
            //处理卡段起止卡号
            var startStr = $(rows[i]).find('#cardStart').val();
            var start = startStr.split('=')[0];
            $(rows[i]).find('#cardStart').val(start);
            var endStr = $(rows[i]).find('#cardEnd').val();
            var end = endStr.split('=')[0];
            $(rows[i]).find('#cardEnd').val(end);

            if(start && end){
                if(parseInt(start)>parseInt(end)){
                    alert('起始卡号必须小于截至卡号，\n错误位置：(起始卡号：'+start+',结束卡号：'+end+')');
                    return false;
                }
                var item = {'start':start,'end':end};
                cards.push(item);
            }
        }

        $.ajax({
            url:'{% url 'cardsSaleQuery' %}',
            method:'post',
            dataType:'json',
            data:{
                csrfmiddlewaretoken: CSRF,
                cards:JSON.stringify(cards)
            },
            success:function(data){
                if(data.length==0){
                    alert('此卡断不存在，请核查!')
                }
                showData(data);
            },
            error:function(){}
        })
    });

    function showData(data) {
        $('#anomalyBox').hide();
        $('#anomaly').find('tbody').empty();
        $('#correct').find('tbody').empty();
        for(var i=0;i<data.length;i++){
            if(data[i].card_status=='1' && data[i].card_value==data[i].card_blance){
                var cols = $('#correct').find('th').length;
                var tr=$('<tr></tr>');
                for(var j=0;j<cols;j++){
                    var td = $('<td></td>');
                    if(j==0){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].card_no)
                    }else if(j==1){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].card_value)
                    }else if(j==2){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].card_blance)
                    }else if(j==3){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val("未激活")
                    }else if(j==4){
                        var obj = $('<button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this);">删除</button>');
                    }
                    td.append(obj);
                    tr.append(td);
                }
                $('#correct').find('tbody').append(tr);
            }
            else{
                $('#anomalyBox').show();
                var cols = $('#anomaly').find('th').length;
                var tr=$('<tr></tr>');
                for(var j=0;j<cols;j++){
                    var td = $('<td></td>');
                    if(j==0){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].card_no)
                    }else if(j==1){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].card_value)
                    }else if(j==2){
                        var obj = $('<input class="form-control" disabled></input>');
                        obj.val(data[i].card_blance)
                    }else if(j==3){
                        var obj = $('<input class="form-control red" disabled></input>');
                        if(data[i].card_status=='2'){
                            obj.val('已激活');
                        }else if(data[i].card_status=='3'){
                            obj.val('已冻结');
                        }else if(data[i].card_status=='4'){
                            obj.val('已作废')
                        }
                    }else if(j==4){
                        var obj = $('<button type="button" class="btn btn-danger btn-xs btn-del" onclick="delRow(this);">删除</button>');
                    }
                    td.append(obj);
                    tr.append(td);
                }
                $('#anomaly').find('tbody').append(tr)
            }
        }
        setTotalByCardList($('#correct').find('tbody'));
    }

    $(document).on("change",".cardId",function(){
        var cardIdStr = $(this).val();
        var cardId = cardIdStr.split("=")[0];
        $(this).val(cardId);

        var cardList = $('#cardList');
        var arr1 = getCardIds(cardList);
        var YcardList =$('#YcardList');
        var arr2 = getCardIds(YcardList);
        arr1 = arr1.concat(arr2);
        arr1.remove(cardId);
        //检查是否有重复卡号
        if(arr1.indexOf(cardId)>-1){
            alert('卡号：'+cardId+'已经存在于售卡或赠卡列表中,请更换');
            $(this).val('');
            return false;
        }
        //卡校验
        var ajaxOpt = {'url':'{% url 'cardcheck' %}?cardId='+cardId,'method':'get'};
        {#var cardtype = '1';#}
        doAjax(this,ajaxOpt,showCardIfno,setTotalByCardList);
        addRow(this);
    });
    $(document).on('click','#btn-enter',function(){
        var action_type = '2';//批量售卡
        var url = "{% url 'saveorder' %}";
        var cardList = getCardList($('#cardList'),'1');
        saveCardSaleOrder(action_type,url,cardList);
    })
</script>
{% comment %}<script>
    $('#disCode input').blur(function(){
        var disCode = $(this).val();
        if(disCode){
            checkDiscode("{% url 'disCodeCheck' %}?discode="+disCode+"&shop={{ shopcode |safe }}");
        }
    });
</script>{% endcomment %}
{% endblock %}
