{% extends 'common/baseForJobs.html' %}
{% block title %}返点验证码{% endblock %}
{% block content %}
<style>
    .form-horizontal{width: 500px;height:700px;margin: 0 auto;padding-top: 150px;}
</style>
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="current">返点验证码</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>返点验证码生成</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="widget-box">
                    <div class="widget-content collapse in ">
                        <form class="form-horizontal" id="Form" action="{% url 'disCodeCreate' %}" method="post">
                            <div class="row modalline">
                                <label for="exampleInputName" class="control-label pull-left" style="width: 120px;">批次授权码前缀：</label>
                                <div class="col-xs-8">
                                    <input class="form-control"  name="prefix" value="" id="prefix" maxlength="16">
                                </div>
                            </div>

                            <div class="row modalline">
                                <div class="col-xs-offset-2 col-xs-6">
                                    <button class="btn btn-success pull-right" id="btn-enter" type="button" style="width: 150px">确定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>b
{% endblock %}

{% block js %}
<script>
    $('#Form #btn-enter').click(function(){
        var prefix = $('#prefix').val();
        if(prefix){
            $('#Form').submit();
        }
    })
</script>
{% endblock %}