<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>储值卡管理系统</title>
</head>
<body>
{% include 'common/head.html' %}

<!--containt-part-->
<div id="content">
    <h1 style="text-align: center;padding-top: 50px;">欢迎登录宽广集团储值卡管理系统</h1>
</div>
<!--end-containt-part-->

{% include "common/foot.html" %}

</body>
</html>
