<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>单卡销售</title>
</head>
<body>
{% include 'common/head.html' %}

<!--containt-part-->
<div id="content">

</div>
<!--end-containt-part-->


<!--Footer-part-->
<div class="row-fluid">
	<div id="footer" class="span12"> Copyright &copy; Goonic All rights reserved.</div>
</div>
<!--end-Footer-part-->
{% include "common/foot.html" %}

</body>
</html>
