{% extends 'common/baseForJobs.html' %}
{% block title %}密码重置{% endblock %}
{% block content %}>
<style>
    .form-horizontal{width: 500px;height:700px;margin: 0 auto;padding-top: 150px;}
</style>
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="current">密码重置</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>密码重置</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="widget-box">
                    <div class="widget-content collapse in ">
                        <form class="form-horizontal" id="Form" action="{% url 'updatePwd' %}" method="post">
                            {% csrf_token %}
                            <div class="row modalline">
                                <label for="exampleInputName" class="col-xs-2 control-label">新密码：</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="password" name="newPwd" id="newPwd" maxlength="16">
                                </div>
                            </div>
                            <div class="row modalline">
                                <label for="exampleInputName" class="col-xs-2 control-label">确认密码：</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="password" name="rePwd" id="rePwd" maxlength="16">
                                </div>
                            </div>
                            <div class="row modalline">
                                <div class="col-xs-offset-2 col-xs-6">
                                    <button class="btn btn-success pull-right" id="btn-enter" type="button" style="width: 150px">确定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>b
{% endblock %}

{% block js %}
<script>
    $('#Form #btn-enter').click(function(){
        var newPwd = $("#newPwd").val();
        var rePwd = $("#rePwd").val();
        if(newPwd!=rePwd){
            alert('两次密码不一致，请重试');
            return false;
        }
        if(!rePwd || !newPwd){
            alert('新密码和确认密码不能为空，请重试');
            return false;
        }
        $('#Form').submit();
    });

    var data = {{ data | safe }};
    if(data.result=='0'){
        alert('密码重置成功，将跳转到登录页面');
        window.location.href = "{% url 'login_index' %}";
    }
</script>
{% endblock %}