{% extends 'common/baseForJobs.html' %}
{% block title %}团购实物返点{% endblock %}
{% block content %}
    <style>
    .discBox{display: block}
    </style>
<div id="content" data-module="sale">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">售卡</a>
            <a href="#" class="current">实物团购返点</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>实物团购返点</h5>
        </div>

        <div class="widget-content nopadding">
            <div class="container-fluid">
                <div class="widget-box" style="border: none">
                    <div class="widget-content nopadding Total" style="border: none">
                        <div class="row formline">
                            <label for="" class="col-md-1 formline-label" style="text-align: left">返点金额：</label>
                            <div class="col-md-2">
                                <input class="form-control" id="discTotal" type="text" onblur="createDiscPay(this)">
                            </div>

                        </div>
                    </div>
                </div>
                {% include 'common/discount2.html' %}

                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>备注信息</h5>
                    </div>
                    <div class="widget-content nopadding check-operat">
                        <textarea placeholder="*** 请务必在此处填写批发销售单单号，以及销售金额 ***" name="" id="" rows="10" style="width: 100%" class="remarks"></textarea>
                    </div>
                </div>
                {% include 'common/buyerInfo.html' %}
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" id="btn-enter" type="button">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function createDiscPay(obj) {
        var discVal = $(obj).val();
        if(!discVal){discVal=0}
        var cardsVal = $('#totalVal b').text();
        var discPay = parseFloat(cardsVal) - parseFloat(discVal);
        $('#totalYBalance b').text(discPay);
    }

    $(document).on('click','#btn-enter',function(){
        var discVal = parseFloat($("#discTotal").val());
        if(!discVal){
            alert('请填写实物团购返点金额');
            return false;
        }

        var cardList = getCardList($('#YcardList'));
        var outTotalVal = parseFloat($('#totalVal b').text());
        var discPay = parseFloat($('#totalYBalance b').text());
        if(discPay<0){
            alert('补差金额不能为负数');
            return false;
        }
        var remarks =$('.remarks').val().trim();
        if(cardList.length==0){
            alert('还未添加赠卡信息，请核对后再尝试提交！');
            return false;
        }
        //赠送对象信息
        var buyerName = $('#buyerName').val();
        var buyerPhone = $('#buyerPhone').val();
        var buyerCompany = $('#buyerCompany').val();
        var postToken = $('#post-token').val();
        var data ={
            csrfmiddlewaretoken: CSRF,
            'cardsStr':JSON.stringify(cardList),
            'outTotalVal':outTotalVal,
            'discVal':discVal,
            'discPay':discPay,
            'remarks':remarks,
            'buyerName':buyerName,
            'buyerPhone':buyerPhone,
            'buyerCompany':buyerCompany,
            'postToken':postToken
        };
        var url = "{% url 'bestowedSave' %}";
        doAjaxSave(url,data)
    })
</script>
{% endblock %}
