{% extends 'common/baseForJobs.html' %}
{% block title %}批量售卡{% endblock %}
{% block content %}
<div id="content" data-module="sale">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">售卡</a>
            <a href="#" class="current">批量销售</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>批量售卡管理</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="container-fluid">
                {% include 'common/cardsOutQuery.html' %}
                {% include 'common/discount.html' %}
                {% include 'common/payment.html' %}
                {% include 'common/orderTotal.html' %}
                {% include 'common/buyerInfo.html' %}
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).on('click','#btn-enter',function(){
        var action_type = '2';//批量售卡
        var url = "{% url 'saveorder' %}";
        var cardList = getCardList($('#correctOut'));
        saveCardSaleOrder(action_type,url,cardList);
    })
</script>

{% endblock %}
