<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>新发行代金券</title>
</head>
<body>
{% include 'common/head.html' %}
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">代金券管理-发行</a>
            <a href="#" class="current">新建</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>代金券管理-发行</h5>
        </div>
        <form action="{% url 'voucherIssueCreate' %}" method="post" id="Form">
        {% csrf_token %}
            <input name="buttonvalue" id="buttonvalue" type="hidden">
            <input name="chooseList" id="chooseList" value="{{ chooseList }}" type="hidden">
            <div class="widget-content nopadding">
                <div class="collapse in widget-content">
                    <div class="row formline">
                        <label for="" class="col-xs-1 formline-label">发行张数：</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="amount" id="amount"
                                   required value="{{ amount }}">
                        </div>

                        <label for="" class="col-xs-1 formline-label">类型：</label>
                        <div class="col-xs-3">
                            <select name="type" id="type" class="form-control" required>
                                <option value="1">抵金券</option>
                                <option value="2">购卡券</option>
                                <option value="3">兑物券</option>
                            </select>
                        </div>
                        <label for="" class="col-xs-1 formline-label">代金面值：</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="costValue" id="costValue"
                                   required value="{{ costValue }}">
                        </div>
                    </div>
                    <div class="row formline">
                        <label for="" class="col-xs-1 formline-label">优惠金额：</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="giftValue" id="giftValue"
                                   value="{{ giftValue }}">
                        </div>
                        <label for="" class="col-xs-1 formline-label">折扣：</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="discount" id="discount"
                                   value="{{ discount }}">
                        </div>
                        <label for="" class="col-xs-1 formline-label">截止日期：</label>
                        <div class="col-xs-3">
                            <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2"
                                 data-date-format="yyyy-mm-dd" data-date=""
                                 class="input-group date form_date">
                                <input readonly="" value="{{ endDate }}" size="16" name="endDate"
                                       id="endDate" class="form-control" required>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row formline">
                        <label for="" class="col-xs-1 formline-label">需要密码：</label>
                        <div class="col-xs-1">
                            <input type="radio" name="CPwdFlag" value="0" checked onchange="radiochange(0)">否
                            <input type="radio" name="CPwdFlag" value="1" onchange="radiochange(1)">是
                            <label id="l_CPwd" for="" class="formline-label" style="display:none">密码：</label>
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" name="CPwd" id="CPwd"
                                   value="{{ CPwd }}" style="display:none">
                        </div>
                        <label for="" class="col-xs-1 formline-label">最大使用次数：</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="maxUseTime" id="maxUseTime"
                                   required value="{{ maxUseTime }}">
                        </div>
                        <label for="" class="col-xs-1 formline-label">使用范围</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" name="rangeremark" id="rangeremark"
                                   required value="{{ rangeremark }}">
                        </div>
                    </div>
                    <div class="row formline">
                        <div class="col-xs-11">
                        </div>
                        <div class="col-xs-1">
                            <div class="col-xs-6">
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-info save-btn">保存</button>
                            </div>
                        </div>
                    </div>
                    <div class="row formline" id="chooseGoods" style="display:none">
                        <div class="col-xs-5">
                            <div class="widget-box">
                                <div class="widget-content nopadding" style="overflow: hidden">
                                    <div class="row formline">
                                        <label for="" class="col-xs-2 formline-label">商品名：</label>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control"
                                                   value="{{ goodname }}" id="goodname" name="goodname">
                                        </div>

                                        <label for="" class="col-xs-2 formline-label">商品编号：</label>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control"
                                                   value="{{ goodcode }}" id="goodcode" name="goodcode">
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-info search-btn">查询
                                            </button>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-hover table-form-my">
                                        <thead>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>商品编号</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody class="searchGoodList">
                                        {% for row in goodList %}
                                            <tr>
                                                <td>{{ row.ShortName }}</td>
                                                <td>{{ row.CustomNo }}</td>
                                                <td><a class='choose'>选择该商品==></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="widget-box">
                                <div class="widget-content nopadding" style="overflow: hidden">

                                    <div class="row formline">
                                        <h4 for="" class="col-xs-10 formline">允许兑换的商品列表：</h4>
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-danger clear-btn">清空</button>
                                        </div>
                                    </div>

                                    <div class="row formline">
                                        <label for="" class="col-xs-2 formline-label">商品名：</label>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control"
                                                    id="v_name" name="v_name">
                                        </div>

                                        <label for="" class="col-xs-2 formline-label">商品编号：</label>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control"
                                                    id="v_code" name="v_code">
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-info add-btn">添加
                                            </button>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-hover table-form-my">
                                        <thead>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>商品编号</th>
                                            <th>数量</th>
                                        </tr>
                                        </thead>
                                        <tbody class="chooseGoodList">
                                        {% for row in chooseList %}
                                            <tr>
                                                <td>{{ row.ShortName }}</td>
                                                <td>{{ row.CustomNo }}</td>
                                                <td><input type='text' class='form-control'
                                                           value="{{ row.amount }}">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end-containt-part-->
{% include "common/foot.html" %}
<script src="{{ static }}/js/bootstrap-datetimepicker.js"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!--给截至日期绑定控件-->
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
<!--绑定控件值-->
<script>
    $("#type").val({{ type }});
    $("#buttonvalue").val();
    if ($("#type").val() == 3) {
        $('#chooseGoods').show();
    }
    else {
        $('#chooseGoods').hide();
    }
    $("input[name='CPwdFlag'][value={{ CPwdFlag }}]").attr("checked", true);
    if ('{{ CPwdFlag }}' == '1') {
        $('#l_CPwd,#CPwd').show();
    }
    else {
        $('#l_CPwd,#CPwd').hide();
    }
</script>
<!--保存成功跳回列表-->
<script type="text/javascript">
    var msg = "{{ msg }}";
    if (msg == '1') {
        alert('数据提交成功');
        window.location.href = "{% url 'voucherIssueList' %}";
    }
</script>
<!--保存按钮点击事件-->
<script type="text/javascript">
    $('.save-btn').click(function () {
        $('#buttonvalue').val(1);

        var row = [];
        $(".chooseGoodList tr").each(function () {
            var item = {};
            item['ShortName'] = $(this).find("td").eq(0).text();
            item['CustomNo'] = $(this).find("td").eq(1).text();
            item['amount'] = $(this).find("td").eq(2).find("input").eq(0).val();
            row.push(item);
        });
        $('#chooseList').val(JSON.stringify(row));

        var amount = $('#amount').val();
        if (amount == 0) {
            alert('数量不能为零');
            return false;
        }
        $("#Form").submit();
    });
</script>
<!--添加按钮点击事件-->
<script type="text/javascript">
    $('.add-btn').click(function () {
        var tbody = $(".chooseGoodList");
        var v_name = $('#v_name').val();
        var v_code = $('#v_code').val();
        var row = '<tr><td>'+v_name+'</td><td>'+v_code+"</td><td><input type='text' class='form-control'></td></tr>";
        tbody.append(row);
    });
</script>
<!--代金券类型改变触发事件-->
<script type="text/javascript">
    $("#type").change(function () {
        if ($(this).val() == 3) {
            $('#chooseGoods').show();
        }
        else {
            $('#chooseGoods').hide();
        }
    });
</script>
<!--是否需要密码改变事件-->
<script type="text/javascript">
    function radiochange(val) {
        if (val == 1) {
            $('#l_CPwd,#CPwd').show();
        }
        else {
            $('#l_CPwd,#CPwd').hide();
        }
    }
</script>
<!--查询按钮点击事件-->
<script type="text/javascript">
    $('.search-btn').click(function () {
        $('#buttonvalue').val(2);
        var row = [];
        $(".chooseGoodList tr").each(function () {
            var item = {};
            item['ShortName'] = $(this).find("td").eq(0).text();
            item['CustomNo'] = $(this).find("td").eq(1).text();
            item['amount'] = $(this).find("td").eq(2).find("input").eq(0).val();
            row.push(item);
        });
        $('#chooseList').val(JSON.stringify(row));
        $("#Form").submit();
    });
</script>
<!--选择商品触发事件-->
<script type="text/javascript">
    $('.choose').click(function () {
        var tr = $(this).parent().parent();
        var _bool = true;
        $(".chooseGoodList tr").each(function () {
            if ($(this).find("td").eq(1).text() == tr.find("td").eq(1).text()) {
                _bool = false;
                alert('列表中已存在该商品，请不要重复选择！')
            }
        });
        if (_bool) {
            $(this).parent().remove();
            var td = "<td><input type='text' class='form-control'></td>";
            tr.append(td);
            var tbody = $('.chooseGoodList');
            tbody.append(tr);
        }
    });
</script>
<!--清空按钮点击事件-->
<script type="text/javascript">
    $('.clear-btn').click(function () {
        $('.chooseGoodList').html('');
    });
</script>
</body>
</html>