<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>新发行购物券</title>
</head>
<body>
{% include 'common/head.html' %}
<style>
    .must {
        color: red;
    }

    #chooseGoods label {
        padding: 7px 0;
    }
</style>
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">购物券管理-发行</a>
            <a href="#" class="current">新建</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>购物券管理-发行</h5>
        </div>
        <form action="{% url 'voucherIssueCreate' %}" method="post" id="Form">
            {% csrf_token %}
            <input name="buttonvalue" id="buttonvalue" type="hidden">
            <input name="chooseList" id="chooseList" value="{{ chooseList }}" type="hidden">
            <div class="widget-content nopadding">
                <div class="collapse in widget-content">
                    <div class="row formline">
                        <label for="" class="col-md-1 formline-label must">券号批次</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="sn_batch" id="sn_batch"
                                   required value="{{ sn_batch }}">
                            <span id="helpBlock" class="help-block">券号前3位数字</span>
                        </div>
                        <label for="" class="col-md-1 formline-label">制作数量</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="sn_amount" id="sn_amount"
                                   readonly="readonly" value="{{ sn_amount }}">
                        </div>
                        <label for="" class="col-md-1 formline-label must">券名称</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="couponname" id="couponname" maxlength="15"
                                   required value="{{ couponname }}">
                            <span id="helpBlock" class="help-block">限制在15个字以内</span>
                        </div>
                    </div>
                    <div class="row formline">
                        <label for="" class="col-md-1 formline-label must">序列号开始</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control sn_val" name="sn_start" id="sn_start"
                                   required value="{{ sn_start }}">
                            <span id="helpBlock" class="help-block">防伪券SN码</span>
                        </div>
                        <label for="" class="col-md-1 formline-label must">付款方式</label>
                        <div class="col-md-2">
                            <select name="payment_type" id="payment_type" class="form-control" required>
                                <option value="1">现金</option>
                                <option value="3">汇款</option>
                                <option value="4">赊销</option>
                                <option value="5">POS机消费</option>
                            </select>
                        </div>
                        <label for="" class="col-md-1 formline-label must">应收金额</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="pay_account" id="pay_account"
                                   required value="{{ pay_account }}">
                            <span id="helpBlock" class="help-block">客户应付的券款</span>
                        </div>
                    </div>
                    <div class="row formline">
                        <label for="" class="col-md-1 formline-label must">序列号结束</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control sn_val" name="sn_end" id="sn_end"
                                   required value="{{ sn_end }}">
                            <span id="helpBlock" class="help-block">防伪券SN码</span>
                        </div>
                        <label for="" class="col-md-1 formline-label must">类型</label>
                        <div class="col-md-2">
                            <select name="type" id="type" class="form-control" required>
                                <option value="1">换卡券</option>
                                <option value="2">提货券</option>
                                <option value="3">通用券</option>
                            </select>
                        </div>
                        <label for="" class="col-md-1 formline-label must">截止日期</label>
                        <div class="col-md-3">
                            <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2"
                                 data-date-format="yyyy-mm-dd" data-date=""
                                 class="input-group date form_date">
                                <input readonly="" value="{{ endDate }}" size="16" name="endDate"
                                       id="endDate" class="form-control" required>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row formline">
                        <label for="" class="col-md-1 formline-label must">券面值</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="costValue" id="costValue"
                                   required value="{{ costValue }}">
                            <span id="helpBlock" class="help-block">
                                如果返点需要计入到券中<br /><b>券面值=券本身金额+返点金额</b><br />如果不需要计入请填写<b>券本身金额</b>
                            </span>
                        </div>
                        <label for="" class="col-md-1 formline-label must">返点金额</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="discount" id="discount"
                                   value="{{ discount }}">
                            <span id="helpBlock" class="help-block">单张券的返点金额</span>
                        </div>
                        <label for="" class="col-md-1 formline-label">使用范围</label>
                        <div class="col-md-2">
                            <div class="col-xs-10" style="margin-top: 6px">
                                <input type="radio" name="range" value="0" checked>全部
                                <input type="radio" name="range" value="1">本店
                            </div>

                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-info save-btn">保存</button>
                        </div>
                    </div>

                </div>
                <div class="widget-box">
                    <div class="widget-content" style="padding:0;">
                        <div class="row formline" id="chooseGoods">
                            <div class="col-md-5" style="padding: 0;">
                                <div class="widget-box">
                                    <div class="widget-content" style="overflow: hidden;padding:5px 0">
                                        <div class="row formline">
                                            <label for="" class="col-md-2 formline-label">商品名：</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control"
                                                       value="{{ goodname }}" id="goodname" name="goodname">
                                            </div>
                                            <label for="" class="col-md-2 formline-label">商品编号：</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control"
                                                       value="{{ goodcode }}" id="goodcode" name="goodcode">
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-info search-btn">查询
                                                </button>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-hover table-form-my">
                                            <thead>
                                            <tr>
                                                <th>商品名称</th>
                                                <th>商品编号</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody class="searchGoodList">
                                            {% for row in goodList %}
                                                <tr>
                                                    <td>{{ row.ShortName }}</td>
                                                    <td>{{ row.CustomNo }}</td>
                                                    <td><a class='choose'>选择该商品==></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7" style="padding-right: 0;">
                                <div class="widget-box">
                                    <div class="widget-content" style="overflow: hidden;padding:5px 0 ">
                                        <div class="row formline">
                                            <p for="" class="col-md-10 formline">允许兑换的商品列表：</p>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-danger clear-btn">清空</button>
                                            </div>
                                        </div>
                                        <div class="row formline">
                                            <label for="" class="col-md-2 formline-label">商品名：</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control"
                                                       id="v_name" name="v_name">
                                            </div>
                                            <label for="" class="col-md-2 formline-label">商品编号：</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control"
                                                       id="v_code" name="v_code">
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-info add-btn">添加
                                                </button>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-hover table-form-my">
                                            <thead>
                                            <tr>
                                                <th>商品名称</th>
                                                <th>商品编号</th>
                                                <th>数量</th>
                                            </tr>
                                            </thead>
                                            <tbody class="chooseGoodList">
                                            {% for row in chooseList %}
                                                <tr>
                                                    <td>{{ row.ShortName }}</td>
                                                    <td>{{ row.CustomNo }}</td>
                                                    <td><input type='text' class='form-control'
                                                               value="{{ row.amount }}">
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<!--end-containt-part-->
{% include "common/foot.html" %}
<script src="{{ static }}/js/bootstrap-datetimepicker.js"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!--给截至日期绑定控件-->
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
<!--绑定控件值-->
<script>
    $("#payment_type").val({{ payment_type }});
    $("#type").val({{ type }});
    $("#buttonvalue").val();
    $("input[name='range'][value={{ range }}]").attr("checked", true);
</script>
<!--保存成功跳回列表-->
<script type="text/javascript">
    var msg = "{{ msg }}";
    if (msg == '1') {
        alert('数据提交成功，共记录了{{ len_list }}张购物券');
        window.location.href = "{% url 'voucherIssueList' %}";
    }
    if (msg == '2') {
        alert('输入券号区间查无可用券号');
    }
    if (msg == '3') {
        alert('输入券号区间存在不可用券号');
    }
</script>
<!--保存按钮点击事件-->
<script type="text/javascript">
    $('.save-btn').click(function () {
        $(this).attr("disabled", true);
        $('#buttonvalue').val(1);
        var row = [];
        $(".chooseGoodList tr").each(function () {
            var item = {};
            item['ShortName'] = $(this).find("td").eq(0).text();
            item['CustomNo'] = $(this).find("td").eq(1).text();
            item['amount'] = $(this).find("td").eq(2).find("input").eq(0).val();
            row.push(item);
        });
        $('#chooseList').val(JSON.stringify(row));
        $("#Form").submit();
    });
</script>
<!--添加按钮点击事件-->
<script type="text/javascript">
    $('.add-btn').click(function () {
        var tbody = $(".chooseGoodList");
        var v_name = $('#v_name').val();
        var v_code = $('#v_code').val();
        var row = '<tr><td>' + v_name + '</td><td>' + v_code + "</td><td><input type='text' class='form-control'></td></tr>";
        tbody.append(row);
    });
</script>
<!--查询按钮点击事件-->
<script type="text/javascript">
    $('.search-btn').click(function () {
        $('#buttonvalue').val(2);
        var row = [];
        $(".chooseGoodList tr").each(function () {
            var item = {};
            item['ShortName'] = $(this).find("td").eq(0).text();
            item['CustomNo'] = $(this).find("td").eq(1).text();
            item['amount'] = $(this).find("td").eq(2).find("input").eq(0).val();
            row.push(item);
        });
        $('#chooseList').val(JSON.stringify(row));
        $("#Form").submit();
    });
</script>
<!--选择商品触发事件-->
<script type="text/javascript">
    $('.choose').click(function () {
        var tr = $(this).parent().parent();
        var _bool = true;
        $(".chooseGoodList tr").each(function () {
            if ($(this).find("td").eq(1).text() == tr.find("td").eq(1).text()) {
                _bool = false;
                alert('列表中已存在该商品，请不要重复选择！')
            }
        });
        if (_bool) {
            $(this).parent().remove();
            var td = "<td><input type='text' class='form-control'></td>";
            tr.append(td);
            var tbody = $('.chooseGoodList');
            tbody.append(tr);
        }
    });
</script>
<!--清空按钮点击事件-->
<script type="text/javascript">
    $('.clear-btn').click(function () {
        $('.chooseGoodList').html('');
    });
</script>

<!--自动计算数量-->
<script type="text/javascript">
    $(document).on('change', '.sn_val', function () {
        //1处理号段起始值
        var start = $('#sn_start').val();

        //2处理号段截止值
        var end = $('#sn_end').val();

        if (parseInt(end) < parseInt(start)) {
            alert('起始券号不能大于截至券号');
            return false;
        }
        if (parseInt(end) && parseInt(start)) {
            //3计算数量
            $("#sn_amount").val(parseInt(end) - parseInt(start) + 1);
        }

    });
</script>
</body>
</html>