{% load basefilter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>发行购物券</title>
    <link rel="stylesheet" href="{{ static }}/css/bootstrap-datetimepicker.min.css">
</head>
<body>
{% include 'common/head.html' %}
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">购物券管理-发行</a>
            <a href="#" class="current">列表</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>发行购物券列表</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="collapse in widget-content">
                <form action="{% url 'voucherIssueList' %}" method="post" id="form">
                    {% csrf_token %}
                    <div class="row formline">
                        <label for="" class="col-md-1 formline-label">发行门店：</label>
                        <div class="col-md-1">
                            <input name="shop" id="shop" type="text" class="form-control"
                                   value="{{ shopcode | transShopCode }}" readonly>
                        </div>
                        <label for="" class="col-md-1 formline-label">起始日期：</label>
                        <div class="col-md-3">
                            <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2"
                                 data-date-format="yyyy-mm-dd" data-date="" class="input-group date form_date">
                                <input readonly="" value="{{ start }}" size="16" name="start" id="start"
                                       class="form-control" required="required">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <label for="" class="col-md-1 formline-label">截至日期：</label>
                        <div class="col-md-3">
                            <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2"
                                 data-date-format="yyyy-mm-dd" data-date="" class="input-group date form_date">
                                <input readonly="" value="{{ end }}" size="16" name="end" id="end" class="form-control"
                                       required="required">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row formline">
                        <label for="" class="col-md-1 formline-label">类型：</label>
                        <div class="col-md-1">
                            <select name="couponType" id="couponType" class="form-control" required="required">
                                <option value="">全部</option>
                                <option value="1">换卡券</option>
                                <option value="2">提货券</option>
                                <option value="3">通用券</option>
                            </select>
                        </div>
                        <label for="" class="col-md-1 formline-label">批次：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="batch" id="batch" required
                                   value="{{ batch }}">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-info enter-btn pull-right" id="enter">查询</button>
                        </div>
                        <div class="col-md-1">
                            <a href="{% url 'voucherIssueCreate' %}?code=0" class="btn btn-success pull-right">新建</a>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-content nopadding" style="overflow-x:auto; ">
                            <h3 class="text-center">发券明细列表</h3>
                            <table class="table table-striped table-hover table-form-my">
                                <thead>
                                <tr>
                                    <th>发行门店</th>
                                    <th>发行人</th>
                                    <th>类型</th>
                                    <th>批次</th>
                                    <th>创建时间</th>
                                    <th>有效期</th>
                                    <th>面值</th>
                                    <th>优惠</th>
                                    <th>使用范围</th>
                                    <th>总数</th>
                                    <th>已打印</th>
                                    <th style="min-width: 400px">操作</th>
                                </tr>
                                </thead>
                                <tbody class="cardIn" id="nopayList">
                                {% for row in List %}
                                    <tr>
                                        <td>{{ row.shop_code | transShopCode }}</td>
                                        <td>{{ row.create_user_name }}</td>
                                        <td>{{ row.type | transCouponTypeByChinese }}</td>
                                        <td>{{ row.batch }}</td>
                                        <td>{{ row.start_date | date:'Y-m-d' }}</td>
                                        <td>{{ row.end_date | date:'Y-m-d' }}</td>
                                        <td>{{ row.values }}</td>
                                        <td>{{ row.discount }}</td>
                                        <td>{{ row.range }}</td>
                                        <td>{{ row.amount }}</td>
                                        <td>{{ row.print_amount }}张</td>
                                        <td>
                                            <div class="pull-left">预印张数：</div>
                                            <div class="pull-left">
                                                <input type="number" id="{{ row.coupon_code }}" class="btn-default btn-sm" style="width: 100px">
                                            </div>
                                            <div class="pull-left">
                                                <button type="button" onclick="toPrint('{{ row.coupon_code }}','1')" class="btn-success btn-sm">打印含金额
                                                </button>
                                                <button type="button" onclick="toPrint('{{ row.coupon_code }}','0')" class="btn-success btn-sm">打印无金额
                                                </button>
                                            </div>

                                            <div class="pull-left">
                                                <a class="btn-warning btn-sm" href="{% url 'voucherIssueCreate' %}?code={{ row.coupon_code }}"> 编辑</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="page">
                        <span>第<b>{{ page }}</b>页/共<b>{{ List.paginator.num_pages }}</b>页</span>
                        <a id="page_a_head">首页</a>
                        {% if List.has_previous %}
                            <a id="page_a_up">上一页</a>
                        {% else %}
                            <a href="javascript:void(0)">上一页</a>
                        {% endif %}
                        {% if List.has_next %}
                            <a id="page_a_down">下一页</a>
                        {% else %}
                            <a href="javascript:void(0)">下一页</a>
                        {% endif %}
                        <a id="page_a_foot">尾页</a>
                        <span class="totalPage">到第</span>
                        <input class="pageTxt" id="page" name="page" value="1" type="text">
                        <span>页</span>
                        <button type="button" class="btn btn-info btn-sm"
                                id="pageEnter">确定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<form action="{% url 'voucherIssuePrint' %}" method="post" id="printForm">
    {% csrf_token %}
    <input type="hidden" name="coupon_code" id="coupon_code">
    <input type="hidden" name="is_show" id="is_show">
    <input type="hidden" name="counts" id="counts">
</form>
<!--end-containt-part-->
{% include "common/foot.html" %}
<script>
    $("#couponType").val({{ couponType }});
</script>
<script src="{{ static }}/js/bootstrap-datetimepicker.js"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
<script>
    $('#form #enter').click(function () {
        var start = $('#start').val();
        var end = $('#end').val();
        if (!start || !end) {
            alert('查询日期不能为空');
            return false;
        }
        $('#form').submit();
    });
</script>
<script>
    //确定按钮
    $('#pageEnter').click(function () {
        $('#form').submit();
    });
    //首页
    $('#page_a_head').click(function () {
        $('#page').val(1);
        $('#form').submit();
    });
    //上一页
    $('#page_a_up').click(function () {
        $('#page').val({{ page_up }});
        $('#form').submit();
    });
    //下一页
    $('#page_a_down').click(function () {
        $('#page').val({{ page_down }});
        $('#form').submit();
    });
    //尾页
    $('#page_a_foot').click(function () {
        $('#page').val({{ List.paginator.num_pages }});
        $('#form').submit();
    });
</script>
<script>
    function toPrint(code, flag) {
        var amount = $('#' + code).val();
        if (!amount) {
            alert('请输入预印数量！');
        }
        else {
            $("#printForm #coupon_code").val(code);
            $("#printForm #is_show").val(flag);
            $("#printForm #counts").val(amount);
            $("#printForm").submit();
        }
    }
</script>
</body>
</html>