{% load basefilter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>发行代金券</title>
    <link rel="stylesheet" href="{{ static }}/css/bootstrap-datetimepicker.min.css">
</head>
<body>
{% include 'common/head.html' %}
<style media="print">


    .barcode {
        float: left;
        clear: both;
        padding: 0 10px;
        /*quiet zone*/
        overflow: auto;
        height: 0.5in;
        /*size*/
    }

    .right {
        float: right;
    }

    .barcode + * {
        clear: both;
    }

      
    .barcode div  {
        float: left;
        height: 0.35in;
        /*size*/
    }

      
    .barcode .bar1  {
        border-left: 1px solid black;
    }

      
    .barcode .bar2  {
        border-left: 2px solid black;
    }

      
    .barcode .bar3  {
        border-left: 3px solid black;
    }

      
    .barcode .bar4  {
        border-left: 4px solid black;
    }

      
    .barcode .space0  {
        margin-right: 0;
    }

      
    .barcode .space1  {
        margin-right: 1px;
    }

      
    .barcode .space2  {
        margin-right: 2px;
    }

      
    .barcode .space3  {
        margin-right: 3px;
    }

      
    .barcode .space4  {
        margin-right: 4px;
    }

      
    .barcode label  {
        clear: both;
        display: block;
        text-align: center;
        font: 0.125in / 100%  helvetica;
        /*size*/
    }

      
        /*** bigger ******************************************/   
    .barcode2  {
        float: left;
        clear: both;
        padding: 0 10px;
        /*quiet zone*/
        overflow: auto;
        height: 1in;
        /*size*/
    }

      
    .barcode2  +   * {
        clear: both;
    }

      
    .barcode2 div {
        float: left;
        height: 0.7in;
        /*size*/
    }

      
    .barcode2 .bar1  {
        border-left: 2px solid black;
    }

      
    .barcode2 .bar2  {
        border-left: 4px solid black;
    }

      
    .barcode2 .bar3  {
        border-left: 6px solid black;
    }

      
    .barcode2 .bar4  {
        border-left: 8px solid black;
    }

      
    .barcode2 .space0  {
        margin-right: 0;
    }

      
    .barcode2 .space1  {
        margin-right: 2px;
    }

      
    .barcode2 .space2  {
        margin-right: 4px;
    }

      
    .barcode2 .space3  {
        margin-right: 6px;
    }

      
    .barcode2 .space4  {
        margin-right: 8px;
    }

      
    .barcode2 label  {
        clear: both;
        display: block;
        text-align: center;
        font: 0.250in / 100% helvetica;
        /*size*/
    }

      
</style>
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">代金券管理-发行</a>
            <a href="#" class="current">列表</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
            <h5>发行代金券列表</h5>

             
        <div class="barcode2" id="div128"></div>
        <div class="barcode2" id="div1"></div>
        </div>
        <button type="button" class="btn btn-warning btn-sm"
                onclick="createBarcode('div128','zhaokuo','B');">生成
        </button>
        <div class="widget-content nopadding">
            <div class="collapse in widget-content">
                <form action="{% url 'voucherIssueList' %}" method="post" id="form">
                    <div class="row formline">
                        <label for="" class="col-xs-1 formline-label">发行门店：</label>
                        <div class="col-xs-2">
                            <input name="shop" id="shop" type="text" class="form-control"
                                   value="{{ shopid | transShopIdByName }}" readonly>
                        </div>

                        <label for="" class="col-xs-1 formline-label">是否打印：</label>
                        <div class="col-xs-2">
                            <select name="printed" id="printed" class="form-control" required="required">
                                <option value="0">未打印</option>
                                <option value="1">已打印</option>
                                <option value="">全部</option>
                            </select>
                        </div>
                        <label for="" class="col-xs-1 formline-label">查询券号：</label>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" name="issueSn" id="issueSn" required
                                   value="{{ issueSn }}">
                        </div>

                        <div class="col-xs-2">
                            <a href="{% url 'voucherIssueCreate' %}" class="btn btn-success pull-right">新建</a>
                        </div>
                    </div>
                    <div class="row formline">
                        <label for="" class="col-xs-1 formline-label">类型：</label>
                        <div class="col-xs-2">
                            <select name="couponType" id="couponType" class="form-control" required="required">
                                <option value="">全部</option>
                                <option value="1">抵金券</option>
                                <option value="2">购卡券</option>
                                <option value="3">兑物券</option>
                            </select>
                        </div>
                        <label for="" class="col-xs-1 formline-label">查询开始时间：</label>
                        <div class="col-xs-2">
                            <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2"
                                 data-date-format="yyyy-mm-dd" data-date="" class="input-group date form_date">
                                <input readonly="" value="{{ start }}" size="16" name="start" id="start"
                                       class="form-control" required="required">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <label for="" class="col-xs-1 formline-label">查询结束时间：</label>
                        <div class="col-xs-2">
                            <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2"
                                 data-date-format="yyyy-mm-dd" data-date="" class="input-group date form_date">
                                <input readonly="" value="{{ end }}" size="16" name="end" id="end" class="form-control"
                                       required="required">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-info enter-btn pull-right" id="enter">查询</button>
                        </div>
                    </div>
                </form>
                <div class="widget-box">
                    <div class="widget-content nopadding" style="overflow: hidden">
                        <h3 class="text-center">发券明细列表</h3>
                        <h5 class="text-right">
                            <span>销售合计：{{ paidTotal }}</span>
                            <soan style="margin-right: 30px;margin-left: 30px;">优惠合计：{{ discTotal }}</soan>
                        </h5>
                        <table class="table table-striped table-hover table-form-my">
                            <thead>
                            <tr>
                                <th>发行门店</th>
                                <th>发行人</th>
                                <th>类型</th>
                                <th>发行日期</th>
                                <th>券编号</th>
                                <th>代金额度</th>
                                <th>优惠额度</th>
                                <th>限定商品备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="cardIn" id="nopayList">
                            {% for row in resList %}
                                <tr>
                                    <td>{{ row.shopid | transShopIdByName }}</td>
                                    <td>{{ row.createuserid | transUserId }}</td>
                                    <td>{{ row.coupontypeid | transCouponTypeByChinese }}</td>
                                    <td>{{ row.startdate }}</td>
                                    <td>{{ row.couponno }}</td>
                                    <td>{{ row.value }}</td>
                                    <td>{{ row.giftvalue }}</td>
                                    <td>{{ row.goodsremark }}</td>
                                    <td><a href="{% url 'voucherIssuePrint' %}?snlist={{ row.couponno }}">打印</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="page">
                            <button type="button" class="btn btn-warning btn-sm"
                                    onclick="toPrint(9)">横向打印全部
                            </button>
                            <button type="button" class="btn btn-warning btn-sm"
                                    onclick="toPrint(8)">纵向打印全部
                            </button>
                            <span>第<b>{{ page }}</b>页/共<b>{{ resList.paginator.num_pages }}</b>页</span>
                            <a href="?page=1&couponType={{ couponType }}&issueSn={{ issueSn }}
                            &start={{ start }}&end={{ end }}&printed={{ printed }}">首页</a>
                            {% if resList.has_previous %}
                                <a href="?page={{ resList.previous_page_number }}
                                &couponType={{ couponType }}&issueSn={{ issueSn }}
                                &start={{ start }}&end={{ end }}&printed={{ printed }}">上一页</a>
                            {% else %}
                                <a href="javascript:void(0)">上一页</a>
                            {% endif %}
                            {% if resList.has_next %}
                                <a href="?page={{ resList.next_page_number }}
                                &couponType={{ couponType }}&issueSn={{ issueSn }}
                                &start={{ start }}&end={{ end }}&printed={{ printed }}">下一页</a>
                            {% else %}
                                <a href="javascript:void(0)">下一页</a>
                            {% endif %}
                            <a href="?pageNum={{ resList.paginator.num_pages }}
                            &couponType={{ couponType }}&issueSn={{ issueSn }}
                            &start={{ start }}&end={{ end }}&printed={{ printed }}">尾页</a>

                            <form method="post" id="pageForm" style="display: inline-block">
                                <input name="couponType" value="{{ couponType }}" type="hidden">
                                <input name="issueSn" value="{{ issueSn }}" type="hidden">
                                <input name="start" value="{{ start }}" type="hidden">
                                <input name="end" value="{{ end }}" type="hidden">
                                <input name="printed" value="{{ printed }}" type="hidden">
                                <span class="totalPage">到第</span>
                                <input class="pageTxt" id="page" name="page" value="1" type="text">
                                <span>页</span>
                                <button type="button" class="btn btn-info btn-sm"
                                        id="pageEnter">确定
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="{% url 'voucherIssuePrint' %}" method="post" id="printForm">
    <input type="hidden" name="snlist" value="{{ snlist }}">
    <input type="hidden" name="A4" id="A4">
</form>
<!--end-containt-part-->
{% include "common/foot.html" %}
<script>
    $("#printed").val({{ printed }});
    $("#couponType").val({{ couponType }});
</script>
<script src="{{ static }}/js/bootstrap-datetimepicker.js"></script>
<script src="{{ static }}/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
<script>
    $('#form #enter').click(function () {
        var start = $('#start').val();
        var end = $('#end').val();
        if (!start || !end) {
            alert('查询日期不能为空');
            return false;
        }
        $('#form').submit();
    });
    $('#pageEnter').click(function () {
        $('#pageForm').submit();
    });
</script>
<script>
    function toPrint(val) {
        $("#printForm #A4").val(val);
        $("#printForm").submit();
    }
</script>

<script>
    (function (divId) {
        var divElement, oldOnLoad = window.onload;

        function getTimeString() {
            var pad = function (n) {
                return n < 10 ? '0' + n.toString(10) : n.toString(10);
            }
                    , dt = new Date();
            return [pad(dt.getHours()), pad(dt.getMinutes()), pad(dt.getSeconds())].join(':');
        }

        function UpdateClock() {
            var timeText = getTimeString();
            divElement.innerHTML = code128(timeText);
        }

        window.onload = function () {
            divElement = document.getElementById(divId);
            UpdateClock();
            setInterval(UpdateClock, 1000);
            if (typeof oldOnLoad == 'function') oldOnLoad.apply(this, arguments);
        }
    })('div1');

    (function () {
        if (!exports) var exports = window;
        var BARS = [212222, 222122, 222221, 121223, 121322, 131222, 122213, 122312, 132212, 221213, 221312, 231212, 112232, 122132, 122231, 113222, 123122, 123221, 223211, 221132, 221231, 213212, 223112, 312131, 311222, 321122, 321221, 312212, 322112, 322211, 212123, 212321, 232121, 111323, 131123, 131321, 112313, 132113, 132311, 211313, 231113, 231311, 112133, 112331, 132131, 113123, 113321, 133121, 313121, 211331, 231131, 213113, 213311, 213131, 311123, 311321, 331121, 312113, 312311, 332111, 314111, 221411, 431111, 111224, 111422, 121124, 121421, 141122, 141221, 112214, 112412, 122114, 122411, 142112, 142211, 241211, 221114, 413111, 241112, 134111, 111242, 121142, 121241, 114212, 124112, 124211, 411212, 421112, 421211, 212141, 214121, 412121, 111143, 111341, 131141, 114113, 114311, 411113, 411311, 113141, 114131, 311141, 411131, 211412, 211214, 211232, 23311120]
                , START_BASE = 38
                , STOP = 106;

        function code128(code, barcodeType) {
            if (arguments.length < 2)
                barcodeType = code128Detect(code);
            if (barcodeType == 'C' && code.length % 2 == 1)
                code = '0' + code;
            var a = parseBarcode(code, barcodeType);
            return bar2html(a.join('')) + '<label>' + code + '</label>';
        }

        function bar2html(s) {
            for (var pos = 0, sb = []; pos < s.length; pos += 2) {
                sb.push('<div class="bar' + s.charAt(pos) + ' space' + s.charAt(pos + 1) + '"></div>');
            }
            return sb.join('');
        }

        function code128Detect(code) {
            if (/^[0-9]+$/.test(code)) return 'C';
            if (/[a-z]/.test(code)) return 'B';
            return 'A';
        }

        function parseBarcode(barcode, barcodeType) {
            var bars = [];
            bars.add = function (nr) {
                var nrCode = BARS[nr];
                this.check = this.length == 0 ? nr : this.check + nr * this.length;
                this.push(nrCode || ("UNDEFINED: " + nr + "->" + nrCode));
            };
            bars.add(START_BASE + barcodeType.charCodeAt(0));
            for (var i = 0; i < barcode.length; i++) {
                var code = barcodeType == 'C' ? +barcode.substr(i++, 2) : barcode.charCodeAt(i);
                converted = fromType[barcodeType](code);
                if (isNaN(converted) || converted < 0 || converted > 106) throw new Error("Unrecognized character (" + code + ") at position " + i + " in code '" + barcode + "'.");
                bars.add(converted);
            }
            bars.push(BARS[bars.check % 103], BARS[STOP]);
            return bars;
        }

        var fromType = {
            A: function (charCode) {
                if (charCode >= 0 && charCode < 32) return charCode + 64;
                if (charCode >= 32 && charCode < 96) return charCode - 32;
                return charCode;
            },
            B: function (charCode) {
                if (charCode >= 32 && charCode < 128) return charCode - 32;
                return charCode;
            },
            C: function (charCode) {
                return charCode;
            }
        };

        //--| Export  
        exports.code128 = code128;
    })();

    /* 
         showDiv：代表需要显示的divID， 
         textVlaue ： 代表需要生成的值， 
         barcodeType：代表生成类型(A、B、C)三种类型 
          
     */
    function createBarcode(showDiv, textValue, barcodeType) {
        var divElement = document.getElementById(showDiv);
        divElement.innerHTML = code128(textValue, barcodeType);
    }
</script>
  
</body>
</html>