{% extends 'common/baseForJobs.html' %}
{% block title %}换卡-批量换散卡{% endblock %}
{% block content %}
<style>
.payment,.Total{display: none}
</style>
<div id="content" data-module="change">
    <div id="content-header">
        <div id="breadcrumb">
            <a data-original-title="Go to Home" href="#" title="" class="tip-bottom">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span> 首页
            </a>
            <a href="#" class="">换卡</a>
            <a href="#" class="current">批量换散卡</a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-content nopadding">
            <div class="container-fluid">
                {% include 'common/cardsInQuery.html' %}
                {% include 'common/cardChangeOut.html' %}
                {% include 'common/discount.html' %}
                {% include 'common/paymentForChange.html' %}
                {% include 'common/orderTotal.html' %}

                {% include 'common/buyerInfo.html' %}
                <div class="enter-box">
                    <input id="post-token" type="hidden" value="{{ token }}">
                    <button class="btn btn-success pull-right" type="button" id="btn-enter">提交订单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).on('click','#btn-enter',function(){
        var url = "{% url 'cardchange_save' %}";
        saveCardChangeOrder(url);
    })

</script>
{% endblock %}
